.edit-avatar-drawer {
  .avatar-preview {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 100%;
    position: relative;
    background: #f0f0f0 no-repeat center center;
    background-size: cover;
  }
}