@import "../../../../assets/css/_media";
.profile-page {
  min-height: 600px;
  .page-content {
    display: flex;
    .avatar-container {
      padding: 0 10px;
    }
    .form-container {
      flex: 1;
      padding: 0 10px;
      .reset-password {
        display: inline-block;
        margin-top: 10px;
        color: inherit;
      }
    }

    .fa-edit {
      cursor: pointer;
    }

    @include respond-below(sm) {
      display: block;
      .avatar-container {
        text-align: center;
      }
      .empty-label {
        display: none;
      }
    }
  }
}
