@import "../../assets/css/_vars";

.stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  .md-step {
    display: table-cell;
    position: relative;
    padding: 10px;
    //&:hover {
    //  background-color: rgba(0, 0, 0, 0.04);
    //}
    //&:active {
    //  background-color: rgba(0, 0, 0, 0.04);
    //  border-radius: 15% / 75%;
    //}
    &:first-child:active {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-child:active {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover .md-step-circle {
      background-color: #757575;
    }
    &:first-child .md-step-bar-left, &:last-child .md-step-bar-right {
      display: none;
    }
    .md-step-circle {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      background-color: #999999;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      font-size: 16px;
      font-weight: 600;
      color: #FFFFFF;
    }
  }
  &.green .md-step.active .md-step-circle {
    background-color: #00AE4D;
  }
  &.orange .md-step.active .md-step-circle {
    background-color: #09B1BA;
  }
  .md-step {
    &.active .md-step-circle {
      background-color: $theme-primary-color;
    }
    &.done .md-step-circle {
      &:before {
        font-family: 'FontAwesome';
        font-weight: 100;
        content: "\f00c";
      }
      * {
        display: none;
      }
    }
    &.editable .md-step-circle {
      * {
        display: none;
      }
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      &:before {
        font-family: 'FontAwesome';
        font-weight: 100;
        content: "\f040";
      }
    }
    .md-step-title {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: rgba(0, 0, 0, 0.26);
    }
    .md-step-optional {
      text-align: center;
      color: rgba(0, 0, 0, 0.26);
    }
    &.active {
      .md-step-title {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);
      }
      &.done .md-step-title, &.editable .md-step-title {
        font-weight: 600;
      }
    }
    .md-step-optional {
      font-size: 12px;
    }
    &.active .md-step-optional {
      color: rgba(0, 0, 0, 0.54);
    }
    .md-step-bar-left {
      position: absolute;
      top: 25px;
      height: 1px;
      border-top: 1px solid #DDDDDD;
    }
    .md-step-bar-right {
      position: absolute;
      top: 25px;
      height: 1px;
      border-top: 1px solid #DDDDDD;
      right: 0;
      left: 50%;
      margin-left: 20px;
    }
    .md-step-bar-left {
      left: 0;
      right: 50%;
      margin-right: 20px;
    }
  }
}
