.checkout-page {
  .step-content {
    padding: 15px ;
  }
}
.checkout-shipping-methods {
  .shipping-brands {
    display: flex;
    margin-bottom: 20px;
    .brand-item {
      background: #ffffff;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      box-sizing: border-box;
      width: 100px;
      height: 86px;
      padding: 10px;
      margin-right: 15px;
      cursor: pointer;
      .ship-time {
        padding: 5px 0;
        font-size: 11px;
        line-height: 13px;
        color: #9B9B9B;
        text-align: center;
      }
      .price {
        text-align: center;
        color: #222222;
      }
    }
    .brand-item.selected {
      border: 1px solid #09B1BA;
      .price {
        color: #09B1BA;
      }
    }
  }
}