.product-socials {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  font-size: 18px;
  .fa-heart {
    color: #09B1BA;
    margin-right: 10px;
  }
  .fab, .far, .fas {
    font-size: 20px;
    color: #09B1BA;
  }
}
.product-share {
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    margin: 0 5px;
  }
  .share-item {
    display: inline-block;
    margin: 0 5px;
  }
}