.comment-section {
  padding-bottom: 0 !important;
  .section-title-outline {
    h2 {
      font-size: 18px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #222222;
    }
  }
  .product-section {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
  }
  .section-content {
    padding: 0;
  }
}

.is-mobile {
  .section-title-outline {
    padding: 0 20px;
    h2 {
      height: 48px;
      line-height: 48px;
      border: none;
      font-size: 14px;
      margin: 0;
      padding: 0;
      color: #9B9B9B;
      font-weight: 500;
    }
  }
  .comment-section {
    padding-bottom: 0 !important;
    .section-content {
      padding-bottom: 0 !important;
    }
  }
}
