.comment-mid {
  .sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 21px;
    .total-comments {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #0D2B28;
    }
    // Custom Checkbox
    .sort-by-image {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        margin-right: 9px;
        position: relative;
        width: 24px;
        height: 24px;
        border: 1px solid #09B1BA;
        border-radius: 6px;
        appearance: none;
        outline: 0;
        cursor: pointer;
        box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.07);
        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 5px;
          left: 8px;
          width: 6px;
          height: 10px;
          border-style: solid;
          border-color: #ffffff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          opacity: 0;
          border-radius: 1px;
        }
        &:checked {
          color: white;
          border-color: #09B1BA;
          background: #09B1BA;
          &::before {
            opacity: 1;
          }
        }
      }
      label {
        margin-bottom: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
        color: #222222;
        user-select: none;
      }
    }
    // End Custom Checkbox
  }
}
.comment-top {
  padding: 1rem;
  .sort {
    display: flex;
    li {
      font-size: 14px;
      line-height: 22px;
      color: #222222;
      padding: 0 15px;
      border-right: 1px solid #EDEEF0;
      &:last-child {
        border-right: none;
      }
      img {
        margin-right: 8px;
      }
    }
    .sort-by-image {
      input {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        border-color: #09B1BA;
      }
    }
  }
}
.comment-list {
  padding: 30px 15px 20px 15px;
  li {
    position: relative;
    padding: 1rem 2rem;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    .user-avatar {
      position: absolute;
      top: -18px;
      left: -15px;
      width: 46px;
      height: 46px;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }
    .user-info {
      width: 100%;
      padding: 20px 0;
      .user-name {
        font-size: 14px;
        font-weight: 600;
        color: #222222;
      }
      .rating-value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: 12px;
        }
      }
      p {
        margin-top: 10px;
        margin-bottom: 0;
      }
      .time {
        font-size: 13px;
        color: #9B9B9B;
      }
      .comment {
        padding: 5px 0;
        min-height: 50px;
      }
    }
    .rating-info {
      flex: 1;
      max-width: calc(100% - 130px);
    }
    .action {
      position: absolute;
      bottom: 18px;
      right: 30px;
      .like {
        margin-right: 15px;
        i {
          margin-left: 3px;
        }
      }
      a {
        color: #9B9B9B;
        font-size: 14px;
        &:hover {
          color: #09B1BA;
        }
      }
    }
  }
  li:first-child {
    margin-top: 20px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.is-mobile {
  .comment-mid {
    .sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 21px;
      .total-comments {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #0D2B28;
      }
      // Custom Checkbox
      .sort-by-image {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          margin-right: 9px;
          position: relative;
          width: 24px;
          height: 24px;
          border: 1px solid #09B1BA;
          border-radius: 6px;
          appearance: none;
          outline: 0;
          cursor: pointer;
          box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.07);
          &::before {
            position: absolute;
            content: '';
            display: block;
            top: 5px;
            left: 8px;
            width: 6px;
            height: 10px;
            border-style: solid;
            border-color: #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            opacity: 0;
            border-radius: 1px;
          }
          &:checked {
            color: white;
            border-color: #09B1BA;
            background: #09B1BA;
            &::before {
              opacity: 1;
            }
          }
        }
        label {
          margin-bottom: 0;
          position: relative;
          cursor: pointer;
          font-size: 12px;
          line-height: 18px;
          color: #222222;
          user-select: none;
        }
      }
      // End Custom Checkbox
    }
  }
  .comment-list {
    padding: 0 6px 0 22px;
    li {
      background: #FFFFFF;
      box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 22px 0 17px 24px;
      margin-bottom: 32px;
      .user-avatar {
        position: absolute;
        top: -16px;
        left: -22px;
        width: 36px;
        height: 36px;
      }
      .user-info {
        padding: 0;
        .user-name {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #0D2B28;
          margin-bottom: 3px;
        }
        .rating-value {
          padding-right: 18px;
          .time {
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: #9B9B9B;
          }
        }
        .comment {
          min-height: auto;
          padding: 10px 20px 0 0;
        }
      }
      .action {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 18px;
        padding-right: 15px;
        a {
          display: flex;
          align-items: center;
          font-weight: normal;
          font-size: 11px;
          line-height: 13px;
          color: #9B9B9B;
          span {
            display: inline-block;
          }
          img {
            padding-bottom: 4px;
            padding-left: 8px;
          }
        }
      }
    }
    li:first-child {
      margin-top: 40px;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
  .pagination {
    padding: 10px 0 30px 0;
  }
}
