.rating-detail {
  padding: 10px 0 40px 0;
  .rating-warp {
    display: flex;
    justify-content: center;
    align-items: center;
    .rating-avg {
      padding-right: 40px;
      .larger-size {
        font-size: 34px;
        color: #222222;
        font-weight: 600;
      }
      p {
        color: #9B9B9B;
        margin-bottom: 0;
      }
    }
    .rating-list {
      li {
        display: flex;
        align-items: center;
        .star-rating  {
          width: 126px;
          text-align: right;
          i {
            font-size: 14px;
          }
        }
        .star-rating-bar {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .line-rating {
          width: 180px;
          height: 10px;
          position: relative;
          margin: 0 10px;
          span {
            position: absolute;
            width: 5%;
            height: 100%;
            background: #09B1BA;
            border-radius: 5px;
          }
        }
        .count-rating {
          font-size: 14px;
          color: #9B9B9B;
        }
      }
    }
  }
}
.is-mobile {
  .rating-detail {
    margin-bottom: 20px;
    padding: 0 0 30px 0;
    border: none;
    .rating-warp {
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 12px;
      .rating-avg {
        padding-right: 0;
        .larger-size {
          font-weight: 700;
          font-size: 34px;
          line-height: 41px;
          color: #0D2B28;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #9B9B9B;
          margin-bottom: 0;
        }
      }
      .rating-list {
        li {
          .star-rating  {
            width: 106px;
            i {
              font-size: 12px;
            }
          }
          .line-rating {
            width: 120px;
            height: 8px;
            span {
              background: #09B1BA;
              border-radius: 4px;
            }
          }
          .count-rating {
            font-size: 12px;
          }
        }
      }
    }
  }
}
