.rating-stats {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  .col-rating-avg, .col-write-review {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }
  p {
    line-height: 1;
    margin-bottom: 0.625rem;
  }
  .col-rating-avg {
    .title {
      font-size: 1.125rem;
    }
    .value {
      font-size: 3rem;
      color: #FFBA49;
      margin-bottom: 0.5rem;
    }
    .star-rating {
      margin-bottom: 0.5rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .col-rating-stats {
    flex: 0 0 40%;
    max-width: 40%;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 30px;
    ul {
      width: 100%;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      .rating-progress-bar {
        flex: 1;
        height: 10px;
        margin: 0 15px;
        border-radius: 0;
        .progress-bar {
          background-color: #FFBA49;
        }
      }
    }
  }
  .col-write-review {
    .btn {
      min-width: 180px;
    }
  }
}

.is-mobile {
  .rating-stats {
    display: block;
    .col-rating-stats, .col-rating-avg, .col-write-review {
      display: flex;
      width: 100%;
      max-width: 100%;
      padding: 20px 10px;
      border: none;
    }
    .col-rating-stats {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

