.rating-form {
  border-bottom: 1px solid #e0e0e0;
  &.hide {
    display: none;
  }
  .rating-form-wrapper {
    padding: 15px;
    display: flex;
    .rate {
      flex: 0 0 30%;
      max-width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.125rem;
      .description {
        font-size: 1rem;
        font-style: italic;
      }
      img {
        width: 120px;
        height: 120px;
        margin: 10px 0;
      }
      .rating-wrapper {
        padding: 3px;
      }
    }
    .comment-form {
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
}

.is-mobile {
  .rating-form {
    padding-bottom: 1rem;
    .rating-form-wrapper {
      display: block;
      padding: 0;
      .rate, .comment-form {
        width: 100%;
        max-width: 100%;
      }
      .rate {
        margin-bottom: 1rem;
      }
    }
  }
  .rating-stats + .rating-form {
    padding-top: 10px;
  }
}
