.notifications-page {
  .notifications-tabs-nav {
    list-style: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    &:after {
      display: block;
      content: '';
      clear: both;
    }
    li {
      float: left;
      line-height: 38px;
      padding: 0;
      position: relative;
      border: 1px solid #e0e0e0;
      border-right: none;
      border-bottom: none;
      a {
        background-color: #f8f8f8;
        color: #888;
        font-weight: 500;
        display: block;
        letter-spacing: 0;
        outline: none;
        padding: 0 20px;
        text-decoration: none;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
      }
      &:first-child {
        border-left: 1px solid #e0e0e0;
      }
      &:last-child {
        border-right: 1px solid #e0e0e0;
      }
      &.active {
        &:after {
          content: '';
          position: absolute;
          display: block;
          background: #fff;
          height: 3px;
          width: 100%;
          bottom: -1px;
          left: 0;
        }
        a {
          color: #333;
          font-weight: 500;
          background: #fff;
        }
      }
    }
  }
  .notifications-tabs-content {
    border: 1px solid #e0e0e0;
    border-top: none;
    margin-top: -1px;
    .notification-item {
      display: flex;
      padding: 12px;
      border-bottom: 1px solid #e0e0e0;
      opacity: 0.65;
      color: #333 !important;
      &:last-child {
        border-bottom: none;
      }
      .notification-img {
        margin-right: 10px;
      }
      .notification-body {
        flex: 1;
      }
      .notification-action {
        width: 50px;
        text-align: center;
      }
      &.unread {
        opacity: 1;
        .notification-title {
          font-weight: bold;
        }
      }
      .created-date {
        font-size: 0.75rem;
        color: #9B9B9B;
      }
    }
  }
}

.is-mobile {
  .notifications-page {
    margin-top: 71px;
    .notifications-tabs-content {
      padding: 0;
      border: none !important;
      .notification-item {
        padding: 0.625rem 0;
        &:last-child {
          padding-bottom: 0;
        }
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}
