.select-groups-modal {
  .modal-body {
    width: 500px;
    max-width: 100%;
  }
  .list-group {
    margin: 0 -5px;
    max-height: 300px;
    overflow: auto;
    flex-wrap: nowrap;
    display: flex;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .group-item {
      width: 120px;
      flex-basis: 120px;
      flex-shrink: 0;
      margin-bottom: 20px;
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer;
      opacity: 0.8;
      &.selected {
        opacity: 1;
      }
      .group-item-wrapper {
        border: 1px solid #e0e0e0;
        border-radius: 4px;
      }
      .group-avatar {
        width: 100%;
        padding-bottom: 100%;
        background: #fff no-repeat center center;
        background-size: cover;
        border-bottom: 1px solid #f0f0f0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        .fa-check-circle {
          color: green;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 1;
          border-radius: 50%;
          background: #fff;
          font-size: 1.25rem;
          box-shadow: 0 0 3px 3px rgba(255, 255, 255, 1);
        }
      }
      .group-name {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #000;
        font-weight: 500;
        padding: 5px;
        font-size: 0.85rem;
      }
      .preferred-2 {
        text-align: center;
        background-color: #c41a30;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        .preferred-point {
          width: 100%;
          font-size: 14px;
          line-height: 20px;
          padding: 4px 10px;
          font-weight: normal;
          white-space: nowrap;
          color: #ffefcd;
        }
      }
    }
  }
}
