.is-mobile {
  .conversation {

    &__top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      background-color: #09B1BA;
      color: #ffffff;
      padding: 10px 16px;
      .actions {
        i {
          color: #ffffff;
        }
      }
    }

    .messages {
      margin-top: 71px;
      height: calc(100vh - 145px);
      padding-bottom: 0;
      .custom-scrollbar {
        padding-bottom: 0;
      }
      .bubble {
        max-width: 320px;
      }
    }
    .write-message {
      position: fixed;
      left: 0;
      bottom: 83.8px;
      background-color: #eeeeee;

      .input-wrap {
        .emoji-mart {
          width: 100%;
        }
      }
      .send-icon {
        margin-left: 10px;
      }
      .emoji-chat {
        margin-right: 10px;
      }
    }
  }
}