@import "../../../../../assets/css/_vars";

.conversation {
  position: relative;
  height: 100%;

  &__top {
    padding: 6px 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    border-top-right-radius: 4px;

    .actions {
      a {
        color: #9B9B9B !important;
        transition: 0.3s;

        &:hover {
          color: #09B1BA !important;
        }
      }

      i {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  .messages {
    padding: 0 0 65px;
    height: calc(100% - 60px);
    position: relative;

    .typing-message {
      position: absolute;
      bottom: 70px;
      left: 15px;
      font-size: 11px;
    }

    ul {
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      padding: 10px 10px 20px;

      li {
        &.loading-message {
          padding: 10px 0;
        }
      }

      .text-muted {
        position: absolute;
        width: 100%;
        top: 50%;
      }
    }

    .bubble {
      font-size: 0.9375rem;
      position: relative;
      display: inline-block;
      clear: both;
      margin-bottom: 8px;
      padding: 6px 12px;
      vertical-align: top;
      border-radius: 9px;
      max-width: 460px;
      word-wrap: break-word;

      &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
      }

      &.you {
        float: left;
        color: #ffffff;
        background-color: $theme-primary-color;
        align-self: flex-start;
        animation-name: slideFromLeft;

        &:before {
          left: -3px;
          background-color: $theme-primary-color;
        }
      }

      &.me {
        float: right;
        color: #1a1a1a;
        background-color: #eceff1;
        align-self: flex-end;
        animation-name: slideFromRight;

        &:before {
          right: -3px;
          background-color: #eceff1;
        }
      }
    }
  }

  .write-message {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 15px;
    border-top: 1px solid #f0f0f0;

    .input-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .emoji-chat {
        cursor: pointer;
      }

      input {
        font-size: 0.875rem;
        width: 86%;
        height: 40px;
        color: #1a1a1a;
        border: 0;
        outline: none;
        background-color: #ffffff;
        font-weight: 400;
        border-radius: 40px;
        padding: 0 30px 0 10px;
      }

      .send-icon {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        color: #09B1BA;
        transition: 0.3s;

        &:disabled {
          color: #bec1c3;
        }
      }

      .emoji-mart {
        position: absolute;
        top: -446px;
        left: 0;
      }
    }
  }
}
