@import "../../../assets/css/_vars";

$rightColWidth: 280px;
.checkout-page {
  background: #F6F6F6;
  padding: 40px 0;

  .col-left {
    -ms-flex: 0 0 $rightColWidth;
    flex: 0 0 $rightColWidth;
    max-width: $rightColWidth;
  }

  .col-main {
    -ms-flex: 0 0 calc(100% - #{$rightColWidth});
    flex: 0 0 calc(100% - #{$rightColWidth});
    max-width: calc(100% - #{$rightColWidth});

    .step {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .content {
    padding: 0 15px;
  }

  .step {
    margin-bottom: 15px;

    .step-title {
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      display: block;
      color: #9B9B9B;
      margin-bottom: 10px;
    }

    .step-content {
      background: #FFFFFF;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
      border-radius: 6px;

      &.no-border {
        padding: 0;
        border: none;
      }

      a {
        color: $theme-primary-color;
      }
    }
  }

  .cart-info {
    margin-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }

  .cart-list {
    .step-title {
      padding-bottom: 8px;
      margin-bottom: 10px;
      color: #141417;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      text-transform: none;
    }

    ul {
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #9B9B9B;

        &.new-section {
          padding-top: 10px;
          border-top: 1px solid #EDEEF0;
        }

        .item-name {
          padding-right: 10px;
          color: #09B1BA;
          font-size: 12px;
          line-height: 16px;

          span {
            color: #222222;
          }
        }

        .item-price {
          flex: 1;
          white-space: nowrap;
          text-align: right;
          font-weight: normal;
          color: #141417;
        }

        strong {
          font-weight: normal;
          color: #141417;
        }
      }
    }
  }

  .use-points {
    margin-bottom: 10px;

    .custom-control-label {
      color: #9B9B9B !important;
      font-size: 14px !important;
      line-height: 26px;
    }
  }

  .cart-info {
    margin-bottom: 10px;
  }

  .add-voucher {
    background: #FFFFFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    p {
      display: block;
      margin-bottom: 10px;
      color: #141417;
      font-weight: 500;
      line-height: 20px;
    }

    .form-group {
      position: relative;

      input {
        font-size: 14px;
        background: #E6EDF5;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 6px 35px 35px 6px;
        height: 36px;
      }

      button {
        height: 36px;
        width: 36px;
        border: none;
        background: #09B1BA;
        border-radius: 50%;
        color: #ffffff;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        cursor: pointer;
        outline: none;
      }
    }

    .voucher-detail {
      .discount-code {
        font-size: 1.5rem;
        color: #09B1BA;
      }

      strong {
        font-weight: 500;
      }

      ul {
        margin-bottom: 10px;
        padding-left: 15px;

        li {
          color: #141417;
          list-style: disc;
        }
      }

      a {
        text-decoration: underline;
        color: #09B1BA;
        font-size: 12px;
      }
    }
  }

  .btn-checkout {
    text-transform: uppercase;
    background: #09B1BA;
    box-shadow: 0 4px 8px rgba(211, 38, 38, 0.25);
    border-radius: 25px;
    padding: 10px 80px;
    font-size: 14px;
    line-height: 20px;
  }

  .cart-list-footer {
    .total {
      li {
        justify-content: flex-end;
        align-items: center;

        span {
          color: #141417;
          margin-right: 10px;
        }

        strong {
          font-size: 24px;
          line-height: 30px;
          color: #09B1BA;
          font-weight: 500;
        }

        small {
          font-size: 12px;
        }
      }
    }

    .btn-checkout {
      width: 100%;
    }
  }

  .upsert-address {
    border: none;
    padding: 0;
    margin: 0;

    .additional-options {
      .form-group {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .button-group {
      margin-top: 10px;
    }
  }

  .address-card {
    opacity: 0.5;

    &.selected, &:hover {
      opacity: 1;
    }

    .default-address {
      display: none;
    }
  }
}

.is-mobile {
  .checkout-page {
    padding-top: 16px;
    background: #F6F6F6;

    .e-row {
      flex-direction: column;
    }

    .col-main {
      .btn-checkout-container {
        text-align: center;
      }
    }

    .col-left {
      display: none;
      flex-direction: column-reverse;
    }
  }

  .checkout-btn-bottom {
    .btn {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
      width: 80%;
      max-width: 420px;
    }
  }
}
