.services-footer-section {
  background-color: #ffffff;
  border-top: 1px solid #EDEEF0;
}
.services-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .service {
    display: flex;
    align-items: center;
    .service-name {
      margin-left: 12px;
      font-size: 14px;
      font-weight: 500;
      color: #222222;
    }
  }
}