@import "../../../../assets/css/_vars";

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 17px 18px 14px;
  display: flex;
  background: #F6FDFD;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.03);
  z-index: 13000;
  .tab-item {
    flex: 1;
    text-align: center;
    display: block;
    color: #9B9B9B;
    position: relative;
    &.active {
      color: #09B1BA;
    }
    .tab-icon {
      display: inline-block;
      width: 28px;
      height: 28px;
      background: no-repeat center center;
      background-size: cover;
    }
    label {
      display: block;
      font-size: 10px;
      line-height: 12px;
    }
    .badge-number {
      position: absolute;
      background: #09B1BA;
      border-radius: 7px;
      top: -1px;
      right: 7px;
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;
      color: #F6FDFD;
      padding: 2.5px 4.5px;
    }
  }
}
