.category-section {
  .section-inner {
    overflow-x: auto;
  }
  ul {
    width: 450px;
    li {
      width: 112px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      text-decoration: none;
      padding: 0 8px;
      .img-figure {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 64px;
        height: 64px;
        img {
          position: relative;
          left: 0;
          top: 0;
          z-index: 2;
          width: 64px;
          height: 64px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      span {
        white-space: normal;
        display: block;
        font-size: 13px;
        line-height: 20px;
        color: rgb(120, 120, 120);
        margin: 8px 0 0;
      }
    }
  }
}