
.header-mobile {
  height: auto;
  background-color: #f6f6f6;
  padding: 22px 30px 9px 18px;
  display: flex;
  align-items: center;
  position: relative;
  &.home-header {
    height: 40px;
  }
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  }
  .header-icon {
    width: 24px;
    height: 24px;
    line-height: 30px;
    text-align: center;
    margin: auto 0;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .icon-back {
    color: #4C6260;
    margin: 0;
    display: flex;
    align-items: center;
    img {
      margin: 0;
    }
  }
}
