
.header-mobile-login {
    height: 129px;
    position: relative;
    .header_mobile-bg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgba(106, 224, 217, 0.49);
        position: absolute;
        z-index: -1;
        &.top {
          top: -134px;
          left: 0;
        }
        &.bottom {
          top: -73px;
          left: -100px;
        }
      }
    &.home-header {
      height: 40px;
    }
    .header-icon {
      width: 24px;
      height: 24px;
      line-height: 30px;
      text-align: center;
      margin: auto 0;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      &.icon-back {
        img {
          margin-left: 19px;
          margin-top: 39px;
        }
      }
    }
  }
  