@import "../../../../assets/css/_vars";

.user-side-bar {
  .user-info {
    .user-info-wrapper {
      display: flex;
      align-items: center;
      .welcome {
        flex: 1;
        line-height: 1;
        padding-left: 10px;
        p {
          margin-bottom: 5px;
        }
        h5 {
          margin-bottom: 2px;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }

  ul {
    margin: 10px 0;
    color: #666666;
    li {
      padding: 0 12px;
      &.active, &:hover {
        background: #e0e0e0;
        border-radius: 2px;
      }
      &.menu-title {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 1rem;
        &:hover {
          background: none;
        }
      }
      a {
        display: block;
        padding: 10px 0;
        font-size: 0.8125rem;
        i {
          margin-right: 8px;
          text-align: center;
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          font-size: 12px;
          padding-top: 7px;
          color: #ffffff;
        }
      }
    }
  }
}

.is-mobile {
  .user-side-bar {
    .user-info {
      background: $theme-primary-color;
      height: 150px;
      position: relative;
      color: #fff;
      .user-info-wrapper {
        position: absolute;
        z-index: 1;
        bottom: 2.5rem;
        left: 1rem;
        right: 1rem;
        .welcome {
          h5 {
            margin-bottom: 7px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
          }
          p {
            text-align: left;
            font-size: 14px;
            line-height: 16px;
            color: #F6FDFD;
            &:first-child {
              margin-bottom: 7px;
            }
          }
          .email {
            font-weight: 300;
            color: #e7e7e7;
            margin-bottom: 0;
          }
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 16px;
        background: #fff;
        border-radius: 16px 16px 0 0;
      }
    }
    ul {
      padding: 0 0 8px;
      margin-top: -5px;
      li {
        border-bottom: 1px solid #f0f0f0;
        background: #ffffff;
        padding: 0;
        &:last-child {
          border-bottom: none;
        }
        &.menu-title {
          padding: 12px 20px;
          border-bottom: none;
        }
        a {
          padding: 12px 20px;
          font-size: 14px;
          font-weight: 500;
          color: #000000;
          display: block;
          >i {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 18px;
            padding-top: 10px;
            color: #ffffff;
          }
        }
      }
    }
  }
}