// .favorite-colection-section {  
// }
  
  .is-mobile {
    .favorite-colection-section {
      .colection-items {
        overflow-x: auto;
        display: flex;
        padding-left: 1px;
        .colection-item {
          min-width: 163px;
          max-width: 50%;
          margin-right: 12px;
          .colection-title {
            color: #0D2B28;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            margin-top: 15px;
            margin-bottom: 2px;
          }
          .colection-des {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #9B9B9B;
            text-align: left;
          }
        }
      }
    }
  }
  