.search-box-mobile {
  display: flex;
  padding: 0 18px;
  margin: 8px 0 10px;
  height: 34px;
  input {
    width: calc(100% - 40px);
    background: #E7E6E6;
    padding: 15px;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: 400;
    outline: none !important;
    border: 0;
    color: rgba(13, 43, 40, 0.74);
    border-radius: 5px 0px 0px 5px;
  }
  button {
    width: 40px;
    border: 0;
    flex-shrink: 0;
    background: #09B1BA;
    border-radius: 0px 5px 5px 0px;
  }
}
