.category-mobile {
  padding: 18px 18px 12px;
  background-color: #F6F6F6;
  .categories {
    max-height: 240px;  //.
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    --column-space: 40px;
    // --row-space: 2.4px;
    --row-space: 18px; //.
    --columns: 4;
    margin-left: calc(-1 * var(--column-space));
    .categories-item {
      width: calc((100% / var(--columns)) - var(--column-space));
      margin-left: var(--column-space);
      margin-bottom: var(--row-space);
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      white-space: normal;
      font-size: 12px;
      line-height: 14px;
      padding: 0;
      img {
        margin-bottom: 6px;
        width: 100%;
      }
      span {
        // min-height: 68px;
        
        overflow: hidden;
        display: -webkit-box;  // cắt ngắn chuỗi
        -webkit-line-clamp: 2;  //giới hạn 2 dòng
        -webkit-box-orient: vertical;
      }
    }
  }
}
