@import "../../../../../../assets/css/_vars";

.group-post {
  padding: 10px 0;

  .post-header {
    display: flex;
    justify-content: space-between;

    .post-menu {
      position: relative;

      .toggle-btn {
        padding: 0 5px;
        color: #8a8a8a;
        font-size: 13px;

        &:hover {
          color: #333333;
        }
      }

      .drop-menu {
        display: none;
        position: absolute;
        top: 20px;
        right: 6px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #EDEEF0;
        border-radius: 4px;

        a {
          white-space: nowrap;
          padding: 10px;
          display: block;
        }
      }

      &.open {
        .drop-menu {
          display: block;
        }
      }
    }
  }

  .post-author {
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .avatar {
      float: left;
      margin-right: 8px;
    }

    .author-name {
      color: $theme-primary-color;
      font-weight: bold;
    }

    .created-time {
      color: gray;
      display: block;
    }
  }

  .post-content {
    margin-top: 8px;

    pre {
      font-family: inherit;
      margin: 0;
    }
  }

  .post-products {
    margin-top: 8px;

    h3 {
      font-size: inherit;
      font-weight: bold;
    }

    .product-list {
      white-space: nowrap;
      overflow-x: auto;
      /* height */
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #999;
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .product-item {
        max-width: 120px;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        .star-rating {
          display: none;
        }

        .product-name {
          font-weight: normal;
          font-size: 14px;
          height: auto;
        }

        .item-price {
          height: auto;

          .sale {
            display: none;
          }

          .new-price {
            font-size: 14px;
            font-weight: normal;
          }

          .old-price {
            display: none;
          }
        }
      }
    }
  }

  .post-stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    color: #555;

    i {
      color: #09B1BA;
    }
  }

  .post-actions {
    display: flex;
    padding: 8px 0;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

    a {
      flex: 1;
      text-align: center;

      i {
        margin-right: 5px;
      }

      &.active {
        color: #09B1BA;
      }
    }
  }

  .post-comments {
    margin-top: 10px;

    .new-comment {
      display: flex;
      width: 100%;

      .avatar {
        margin-right: 10px;
      }

      .editor-wrapper {
        flex: 1;
        padding: 4px;

        .editor {
          border: 1px solid #d0d0d0;
          border-radius: 20px;
          height: auto;
          min-height: 40px;
          width: 100%;
          padding: 8px 10px;
          outline: none !important;

          &:focus, &:active {
            outline: none !important;
          }

          &:focus {
            border-color: #09B1BA;
          }
        }
      }
    }

    .reply-to {
      padding-left: 60px;
      font-size: 0.85em;
    }

    .list-comments {
      .list-comments {
        padding-left: 30px;
      }
    }
  }
}

.post-list {
  .group-post {
    border-bottom: 1px dashed #ccc;

    &:last-child {
      border-bottom: none;
    }
  }
}
