@import "../../../assets/css/_vars";

.is-mobile {
  .bar-icon {
    .dropdown-bar-icon {
      background: #FFFFFF;
      border: none;
      box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.14);
      border-radius: 8px;
      transform: translate3d(-175px, 33px, 0px) !important;
      .dropdown-item {
        color: #000000;
        border-bottom: 1px solid #9B9B9B20;
        &:last-child {
          border-bottom: none !important;
        }
      }
      .dropdown-item:active {
        background: transparent;
        color: $theme-primary-color;
      }
    }
  }
}

