.count-down {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0;
  span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: 500;
    margin-right: 0.125em;
    border-radius: 0.125em;
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    &.divider {
      background: transparent;
      color: rgba(255, 250, 250, 0.2);
      font-weight: bold;
      width: 10px;
    }
  }
}

.section-heading {
  .count-down {
    margin-left: 15px;
  }
}

.is-mobile {
  .section-heading {
    .count-down {
      span {
        font-size: 13px;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}
