@import "../../../../assets/css/_vars";
.shop-near-by-you {
  .header-line {
    margin-bottom: 20px;
    &:after {
      margin-top: 2px;
    }
  }
  &.section-gradient h2 {
    background-image: url(publicUrl('/assets/images/v2/bg/bg-title.jpg'));
  }
}

.fz-22 {
  font-size: 22px !important;
}

.filter-shop {
  padding-bottom: 12px;
  .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.58);
    border-color: #d5d5d5;
    height: 32px;
    padding: 2px 15px;
    display: block;
    max-width: 210px;
    margin: auto;
  }
}

.map-wrapper {
  margin-bottom: 34px;
  border: 1px solid #9c9c9c;
}

#map {
  height: 380px;
}

@media only screen and (min-width: 992px) {
  #map {
    height: 512px;
  }
}
