.is-mobile {
    .favorite-colection-section {
        padding-bottom: 10px;
        .container {
            padding-left: 19px;
            padding-right: 19px;
            .sale-banner {
                position: relative;
                margin-bottom: 15px;
                img {
                    width: 100%;
                    object-fit: cover;
                }
                .sale-banner-title {
                    position: absolute;
                    top: 22px;
                    left: 34px;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0D2B28;
                }
                .sale-banner-des {
                    position: absolute;
                    top: 46px;
                    left: 34px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #0D2B28;
                }
            }
        }
    }
}