@import "../../../../../../../../assets/css/_vars";

.comment-item {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  padding-right: 10px;
  &.editing {
    flex-direction: column;
  }
  .comment-header {
    margin-right: 8px;
  }
  .comment-body {
    flex: 1;
    .author-name {
      color: $theme-primary-color;
      font-weight: bold;
      margin-right: 5px;
    }
    .created-time {
      color: gray;
    }
    .html-view {
      display: inline;
    }
  }
  .comment-actions {
    font-size: 14px;
    a {
      color: black;
      margin-right: 10px;
    }
  }
  .cancel-link {
    padding-left: 60px;
    font-size: 0.85em;
  }
}
