@import "../../../../assets/css/_vars";

.is-mobile{
  .flash-sale-section-mb {
    background: #F6FDFD!important;
    .container {
      padding-right: 0;
      .section-heading {
        padding-right: 18px;
        h2 {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.05em;
          font-weight: 700;
          color: #0D2B28;
          span:last-child {
            font-weight: 400;
          }
        }
        .count-down {
          margin-left: 9px;
          span {
            background: #0D2B28;
            border-radius: 4px;
            width: 25px;
            height: 18px;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            color: #F6FDFD;
            margin-right: 6px;
            &.divider {
              display: none;
            }
          }
        }
      }
      .section-inner {
        .product-items {
          display: flex;
          overflow-x: auto;
          .product-item-wrapper {
            max-width: 134px!important;
            margin-bottom: 0;
            min-width: auto;
            .product-item {
              background-color: #F6FDFD;
              .product-image {
                height: auto;
                margin-bottom: 9px;
                .product-image-wrapper {
                  width: 134px;
                }
              }
              .product-text {
                .product-name {
                  display: none;
                }
                .item-price {
                  justify-content: center;
                  .price-left .new-price {
                    line-height: 19px;
                  }
                  .product-favorite {
                    display: none;
                  }
                }
              }
            } 
            .bar-flash-sale {
              margin-top: 3px;
              width: 100%;
              height: 15px;
              // background: #E7E6E6;
              background: #dbdbdb;
              border-radius: 10px;
              position: relative;
              .bar-sold {
                width: 54%;
                height: 100%;
                background: #09B1BA;
                border-radius: 10px 0px 0px 10px;
              }
              .quantity-sold {
                position: absolute;
                left: 50%;
                top: 55%;
                transform: translate(-50%,-50%);
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                // color: #9B9B9B;
                color: #ffffff;
              }
            }
          }
          &.row {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}