.home-banner {
  .e-row {
    margin-left: 0;
    margin-right: 0;
  }
  .primary-banners {
    width: 598px;
    flex-shrink: 0;
    .--primary {
      padding: 12px;
      img {
        height: 313px;
        width: 100%;
      }
    }
    .--secondary {
      padding: 12px;
      img {
        height: 165px;
        width: 100%;
      }
    }
  }
  .secondary-banners {
    width: 194px;
    flex-shrink: 0;
    .--primary {
      padding: 12px;
      img {
        height: 312px;
        width: 100%;
      }
    }
    .--secondary {
      padding: 12px;
      img {
        height: 165px;
        width: 100%;
      }
    }
  }
  .other-services {
    flex-shrink: 0;
    padding-top: 20px;
    padding-left: 12px;
    .service-item {
      margin-bottom: 50px;
      display: block;
      text-align: center;
      width: 83px;
      border: 1px solid #f6f6f6;
      border-radius: 6px;
      padding: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 40px;
        height: 40px;
        margin-bottom: 2px;
      }
      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
