.refund-detail-page {
  font-family: 'Roboto', sans-serif;
  h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .info-table {
    display: table;
    .info {
      display: table-row;
      line-height: 24px;
      strong, span {
        font-weight: normal;
        display: table-cell;
      }
      span {
        padding-left: 10px;
      }
    }
  }
  .products-table, .refund-info, .actions {
    margin-top: 15px;
  }
  .other-info {
    + .other-info {
      margin-top: 5px;
    }
    p, label {
      margin: 0;
    }
    label {
      font-weight: 500;
    }
  }
}
