@import "../../../../assets/css/_vars";

.is-mobile {
  .product-favorite {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    background: #ffffff;
    .likes-count {
      display: none;
    }
    a {
      font-size: 18px;
      line-height: 40px;
      margin: 0 !important;
      i.far {
        color: #DADADA;
      }
      i.fas {
        color: #09B1BA;
      }
    }
  }
}