.item-group {
  width: 50%;
  float: left;
  margin-bottom: 20px;
  position: relative;
  &:nth-child(2n) {
    padding-left: 15px;
  }
  &:nth-child(2n+1) {
    padding-right: 15px;
  }
  .group-item-wrapper {
    display: flex;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    .group-avatar {
      width: 84px;
      height: 84px;
      flex: 0 0 84px;
      background-size: cover;
      background-position: center;
      margin-right: 10px;
      border-radius: 4px;
    }
    .group-info {
      flex-basis: calc(100% - 84px);
      font-size: 14px;
      line-height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .group-name {
        font-weight: 500;
        color: #222222;
      }
      .group-members {
        font-size: 12px;
        color: #222222;
      }
      .group-created {
        font-size: 12px;
        color: #9B9B9B;
      }
      .update-btn {
        position: absolute;
        bottom: 10px;
        right: 30px;
        color: #09B1BA;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        border: 1px solid #DADADA;
        border-radius: 4px;
        padding: 4px 10px;
      }
    }
  }
}
