

.is-mobile {
  overflow-x: hidden;
  .category-slider {
    background-color: #f6f6f6;
  }
  .header-mobile-category {
    height: auto;
    background-color: #f6f6f6;
    padding: 22px 18px 9px 18px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    .icon-back {
      color: #4C6260;
      margin: 0;
      display: flex;
      align-items: center;
      img {
        margin: 0;
      }
    }
    .title-mobile {
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 137.19%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #0D2B28;
    }
    .category-search {
      margin-right: 12.46px;
    }
    .filters {
      height: 20px;
    }
  }
  .product-category-page {
    margin-top: 55px;
    .sub-category-list {
      display: flex;
      min-height: 100px;
      overflow-x: auto;
      flex-wrap: nowrap;
      padding: 12px 0 0 11px;
      background: #F6FDFD;
      border-bottom: 1px solid #E7E6E6;
      .item {
        min-width: 60px;
        margin-right: 22px;
        position: relative;
        .nav-link {
          padding: 0;
            img {
              width: 60px;
              height: 60px;
              display: block;
              margin: 0 auto;
            }
          label {
            margin-bottom: 22px;
            margin-top: 12px;
            text-align: center;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: rgba(13, 43, 40, 0.74);
          }
          &.active {
            ::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: 0;
              left: 0;
              background: #09B1BA;
              border-radius: 2px;
            }
            label {
              color: #09B1BA;
            }
          }
        }
        
      }
    }
    .product-category-content {
      .product-grid {
        position: relative;
        .advs {
          display: none;
        }
        .product-items {
          padding: 15px 6px 0 17px;
        }
      }
      .read-more {
        padding-bottom: 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #09B1BA;
        background: #f6f6f6;
      }
    }
  }
}
