@import "../../../../assets/css/_vars";

.address-info {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22px;
  position: relative;

  .address-type {
    color: #9b9b9b;
    margin-bottom: 5px;
  }

  .name-phone {
    color: #222222;
    font-weight: 500;

    .name {
      text-transform: capitalize;
    }
  }

  .action {
    position: absolute;
    top: 15px;
    right: 15px;
    text-transform: uppercase;
    color: #09B1BA;
    font-weight: 500;
  }

}

.address-cards {
  [class*="col-"]:nth-child(2n) {
    padding-left: 0 !important;
  }
}

.is-mobile {
  .address-cards {
    flex-direction: column;
    > [class*="col-"] {
      width: 100%;
      max-width: 100%;
      flex: 1;
      padding-left: 15px !important;
    }
  }
}

.add-address {
  border: 1px dashed #9B9B9B;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 4px;
  }
}

.e-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 800px;
    }
  }

  .modal-content {
    background: #F9F9F9 !important;
    border-radius: 6px !important;

    .modal-header {
      background: #FFFFFF;
      box-shadow: inset 0px -1px 0px rgba(208, 201, 214, 0.4);
      border-bottom: none;
      padding-left: 2rem;
      position: relative;

      .modal-title {
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 500;
        color: #222222;
      }

      &::after {
        content: "";
        position: absolute;
        width: 140px;
        height: 3px;
        background: #09B1BA;
        bottom: 0;
        left: 2rem;
        border-radius: 200px 200px 0 0;
      }
    }

    .modal-body {
      padding: 2rem;
    }

    .modal-footer {
      padding-bottom: 2.5rem;
      border: none !important;
      justify-content: center;
    }

    .btn {
      background: transparent;
      color: #222222;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid #222222;
      border-radius: 24px;
      padding: 10px 42px;
      text-transform: uppercase;

      &:hover {
        background: #09B1BA;
        border: 1px solid #09B1BA;
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}

.address-list-modal {
  .modal-body {
    padding-bottom: 0 !important;
  }
}

.edit-address-modal {
  .button-group {
    text-align: center;
    padding: 10px 0;
  }

  .btn:hover {
    opacity: 0.8 !important;
  }

  .btn-default {
    background: #09B1BA !important;
    color: #ffffff !important;
    border-color: #09B1BA !important;
  }

  .btn-primary {
    background: #09B1BA !important;
    color: #ffffff !important;
    border-color: #09B1BA !important;
  }
}

.is-mobile {
  .address-box {
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 16px 24px;

    .type {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #222222;
      font-weight: 500;
      padding: 8px 0;

      .address-edit {
        color: #09B1BA;
        text-transform: uppercase;
        font-size: 14px;
      }
    }

    .name-phone {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 4px;
    }

    .address {
      font-size: 14px;
      line-height: 22px;
      color: #9B9B9B;
    }

    a {
      color: $theme-primary-color;
    }
  }

  .e-modal .modal-content .btn {
    padding-left: 32px;
    padding-right: 32px;
  }
}
