@import "../../../../../assets/css/_vars";
.group-posts {
  .new-post {
    margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    .editor {
      width: 100%;
      min-height: 100px;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 4px;
      border: 1px solid #e0e0e0;
      resize: none;
      transition: height ease-in-out 0.3s;
      margin-bottom: 10px;
      outline: none;
      padding: 10px;
      &:focus {
        border: 1px solid #cccccc;
      }
    }
    .attachment {
      a {
        color: $theme-primary-color;
        text-decoration: underline;
        font-weight: bold;
      }
    }
    .bottom-toolbar {
      display: flex;
      justify-content: space-between;
      .btn {
        padding: 0.3rem 0.6rem;
        i {
          margin-right: 5px;
        }
      }
      .addon-buttons {
        .btn {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .post-list {
    margin: 10px 0 0;
  }
}
