.product-table {
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  background: #ffffff;
  .t-head, .t-body, .t-foot {
    padding: 5px;
  }
  .t-body {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .t-head {
    font-weight: 500;
  }
  .t-foot {
    .t-row {
      align-items: center;
      .c-foot-name {
        flex: 1;
      }
      .c-sub-total, .c-foot-name {
        strong {
          font-size: 18px;
        }
      }
    }
  }
  .t-row {
    display: flex;
    div[class^="c-"] {
      padding: 10px;
    }
    .c-check {
      width: 40px;
    }
    .c-name {
      flex: 1;
      display: flex;
      .p-avatar {
      }
      .p-name {
        flex: 1;
        padding-left: 10px;
      }
    }
    .c-price, .c-qty, .c-total, .c-action {
      width: 150px;
      text-align: center;
    }
    .c-action {
      width: 80px;
    }
    .c-shop {
      font-weight: 500;
    }
  }

  .p-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background: #fefefe no-repeat center center;
    background-size: contain;
  }
}

.is-mobile {
  .product-table {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    overflow-x: auto;
    .t-head, .t-body {
      padding: 0;
    }
    .t-body {
      border: none;
    }
    .t-foot {
      padding: 10px 0;
    }
    .c-name {
      flex-direction: column;
      min-width: 150px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .c-price, .c-total, .c-action {
      min-width: 100px;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .c-qty {
      min-width: 80px;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
}
