@import "../../../assets/css/_media";
@import "../../../assets/css/_vars";

.header {
  .list-links {
    list-style: none;
    display: flex;
    li {
      color: #fff !important;
      margin-right: 30px;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: #fff !important;
      display: inline-flex;
      align-items: center;
    }
    .user-link {
      text-transform: none;
      .avatar {
        margin-right: 8px;
      }
    }
  }

  .header-top {
    padding: 10px 0;
    background: $theme-primary-color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .header-top-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header-mid {
    color: #ffffff;
    background: $theme-primary-color;
    padding: 10px 0 0;

    .logo {
      display: block;
      margin-top: 5px;
      margin-left: 15px;
      img {
        max-height: 48px;
      }
    }

    .header-mid-container {
      padding: 8px 0;
    }

    .header-mid-main-content {
      display: flex;
      align-items: center;
      .search-box {
        flex: 1;
        position: relative;
        input {
          width: 100%;
          height: 40px;
          border-radius: 40px;
          border: none !important;
          outline: none !important;
          padding: 8px 16px;
        }
        img {
          position: absolute;
          z-index: 1;
          top: 12px;
          right: 24px;
          height: 16px;
          width: 16px;
          pointer-events: none;
        }
        button {
          display: none;
        }
      }
      .icon-buttons {
        display: flex;
        .icon-button {
          margin-top: 10px;
          margin-left: 40px;
          padding-bottom: 10px;
          &:last-child {
            margin-right: 30px;
          }
        }
        a {
          position: relative;
          .qty {
            background: #fff;
            border-radius: 9px;
            padding: 2px 6px;
            position: absolute;
            top: -10px;
            left: 100%;
            line-height: 1;
            color: $theme-primary-color;
            font-weight: 500;
            font-size: 12px;
            margin-left: -10px;
          }
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
      .cart {
        position: relative;
        &:hover {
          .quick-view-cart {
            opacity: 1;
            z-index: 99;
            transition: .8s;
          }
        }
      }
      .quick-view-cart {
        position: absolute;
        top: 42px;
        right: 0;
        width: 370px;
        background: #FFFFFF;
        box-shadow: 0 8px 16px rgba(141, 141, 141, 0.15);
        border-radius: 3px;
        padding: 20px 16px;
        color: #222222;
        z-index: -99;
        opacity: 0;
        transition: .8s;
        &:before {
          position: absolute;
          top: -8px;
          right: 8px;
          content: '';
          width: 0;
          height: 0;
          border-bottom: 10px solid rgb(255, 255, 255);
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          bottom: -10px;
        }
        .no-data {
          padding: 20px 0;
          min-height: auto;
          img {
            width: 120px;
            height: 120px;
          }
          .btn {
            width: 200px;
          }
        }
        .cart-detail {
          .cart-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;
            .product-avatar {
              width: 63px;
              height: 53px;
              margin-right: 10px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            }
            .product-info {
              font-size: 14px;
              line-height: 20px;
              flex-grow: 1;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .product-name {
                width: 156px;
                line-height: 1.5em;
                height: 3em;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .product-price {
                small {
                  color: #9B9B9B;
                }
              }
            }
          }
        }
        .total {
          padding-top: 15px;
          border-top: 1px solid #d8d8d8;
          text-align: right;
          strong {
            font-size: 18px;
            font-weight: 500;
          }
        }
        .btn {
          color: #FFFFFF;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          background: #09B1BA;
          box-shadow: 0 4px 8px rgba(211, 38, 38, 0.25);
          border-radius: 25px;
          width: 338px;
          a:hover {
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .header-bottom {
    background: $theme-primary-color;
    position: relative;
    .row-wrap {
      height: 47px;
      align-items: center;
    }
  }

  .notification-icon-wrap {
    position: relative;
    .badge-number {
      position: absolute;
      top: -5px;
      right: 0;
      margin-right: -6px;
    }
  }
}
