@import "../../../assets/css/_vars";

.category-wrapper {
  position: relative;
  z-index: 200;

  .category-button {
    cursor: pointer;
    display: flex;
    border-radius: 5px 5px 0 0;
    color: #fff;
    height: 40px;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
    span {
      text-transform: uppercase;
    }
  }

  .product-category-menu {
    position: absolute;
    background: #ffffff;
    width: 100%;
    z-index: 200;
    top: 45px;
    transition: opacity;
    transition-duration: 0.3s;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 3px;

    &:after {
      position: absolute;
      width: 100%;
      height: 10px;
      top: -5px;
      z-index: 1;
      content: '';
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 14px 0;
      li {
        position: relative;
        padding: 2px 0;
        img {
          width: 24px;
          height: 24px;
          margin-right: 6px;
        }
        a {
          position: relative;
          display: block;
          width: 100%;
          line-height: 34px;
          padding: 0 15px;
          color: #000000;
          text-decoration: none;
          &:hover {
            color: $theme-primary-color;
            border-left: 2px solid $theme-primary-color;
            font-weight: 500;
            background: linear-gradient(89.79deg, rgba(220, 12, 31, 0.06) 0.02%, rgba(220, 12, 31, 0.03) 71.76%, rgba(255, 255, 255, 0) 99.97%);
          }
        }
        > ul {
          display: none;
          position: absolute;
          top: 0;
          width: 280px;
          right: -279px;
          background: #fff;
          box-shadow: 0 0 5px 0 rgba(130, 130, 130, 0.35);
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
    }
  }

  &.hidden {
    .product-category-menu {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.category-menu-backdrop {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.category-wrapper + .category-menu-backdrop {
  display: block;
}

.category-wrapper.hidden + .category-menu-backdrop {
  display: none;
}
