.address-card {
  border: 1px solid #b0b0b0;
  padding: 16px;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  h4 {
    font-weight: 400;
    padding-right: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .address-info {
    p {
      margin-bottom: 8px;
      color: #555;
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        color: #000;
        font-weight: 500;
      }
    }
  }
  .default-address {
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #09B1BA;
  }
  .actions {
    position: absolute;
    top: 12px;
    right: 12px;
    a {
      display: none;
      margin-right: 10px;
    }
    .edit-link {
      color: #00397f !important;
    }
  }
  .selected-address {
    color: #09B1BA;
  }
  &:hover {
    .actions {
      a {
        display: inline;
      }
    }
  }
}

.address-list {
  margin-left: -5px;
  margin-right: -5px;
  .col-sm-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.is-mobile {
  .address-card {
    .actions {
      opacity: 1;
    }
  }
  .address-card-mobile {
    padding: 0 13px;
    background: #FFFFFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 16px;
    &:first-child {
      margin-top: 16px;
    }
    .address-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0 10px 0;
      span {
        font-weight: 500;
        color: #222222;
        font-size: 16px;
        line-height: 20px;
      }
      .edit {
        display: inline-block;
        height: 24px;
        width: 24px;
        text-align: center;
        i {
          color: #09B1BA;
        }
      }
    }
    .address-card-content {
      p {
        color: #9B9B9B;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0;
        text-align: left;
        span {
          color: #222222;
          font-weight: 400;
        }
      }
      .address-selected {
        padding-top: 20px;
        color: #222222;
        display: flex;
        .checkbox {
          margin-right: 12px;
          width: 22px;
          height: 22px;
          border-radius: 6px;
          border: 1px solid #ECEBED;
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          font-size: 12px;
        }
      }
      .selected {
        color: #09B1BA !important;
        .checkbox {
          background: #09B1BA;
          color: #FFFFFF;
        }
      }
    }
  }
}
