@import "../_vars";
.btn-read-more {
  text-align: center;
  padding: 30px 0 30px;
  a {
    display: inline-block;
    padding: 7px 30px;
    background-color: transparent;
    min-width: 127px;
    color: $theme-primary-color;
    font-weight: 500;
    font-size: 14px;
    &:hover {
      background-color: transparent !important;
      color: $theme-primary-color-dark;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      text-decoration: underline;
    }
  }
}
