// MAIN LAYOUT

.e-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
  .col-left {
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    max-width: 270px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .col-main {
    -ms-flex: 0 0 calc(100% - 270px);
    flex: 0 0 calc(100% - 270px);
    max-width: calc(100% - 270px);
    padding-left: 4px;
    padding-right: 4px;
    &.offset-left {
      margin-left: 270px;
    }
  }
  .col-half {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.container {
  padding-left: 4px;
  padding-right: 4px;
  max-width: none;
  width: 1170px !important;
}

.is-mobile {
  .hidden-mobile {
    display: none !important;
  }
  .container {
    max-width: none !important;
    width: 100% !important;
    padding-left: 16px;
    padding-right: 16px;
  }
  .e-row {
    display: flex;
    flex-direction: column-reverse;
    .col-left, .col-main, .col-half {
      width: 100% !important;
      max-width: 100% !important;
      margin: 0;
    }
    .col-main {
      &.offset-left {
        margin-left: 0;
      }
    }
  }
  .full-width-mobile {
    width: 100% !important;
    max-width: 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
}

.d-lg-none {
  @include respond-above(lg) {
    display: none !important;
  }
}
