.section {
  padding: 30px 0;
  &.section-gradient {
    background: url(publicUrl('/assets/images/v2/bg/bg-gradient.png')) repeat-x top left;
    padding-top: 33px;
  }
  .section-heading {
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.sm:after {
      margin-top: 2px;
    }
    .d-inline-block {
      vertical-align: middle;
    }
    h2, h3, h4, h5 {
      font-size: 1.85rem;
    }
    h2 {
      z-index: 3;
      padding: 0;
      margin-bottom: 0;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 500;
      color: #09B1BA;
    }
    .text-read-more {
      color: $theme-primary-color !important;
      font-size: 14px;
      .icon-arrow-right {
        height: 0.625rem;
      }
    }
    &.no-line-through {
      &:after {
        display: none;
      }
      h2 {
        background: transparent;
      }
    }
    .link-read-more {
      font-size: 12px;
      color: $theme-primary-color;
    }
  }
  .section-inner {
    &.rounded {
      border-radius: 5px;
    }
  }
}

.is-mobile {
  .section {
    padding: 25px 0;
    .section-heading {
      font-size: 1.25rem;
      margin-bottom: 15px;
      text-align: left;
      h2, h3, h4, h5 {
        font-size: 1.375rem;
        padding-left: 0;
      }
      h2 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #0D2B28;
      }
      .link-read-more {
        font-size: 12px;
        line-height: 14px;
        color: #09B1BA;
      }
    }
    .section-inner {
      .product-items {
        padding: 0;
        border-radius: 0;
        padding-left: 1px;
        .product-item-wrapper {
          padding: 0;
          border-radius: 0;
          margin-right: 15px;
          .product-item {
            background-color: #F6F6F6;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            .product-image {
              height: 161px;
              .product-image-wrapper {
                border-radius: 0;
              }
            }
            .product-text {
              padding: 0;
              .product-name {
                font-size: 12px;
                line-height: 16px;
                color: #4C6260;
                margin: 15px 0 10px;
                height: 32px;
                font-weight: 400;
              }
              .item-price {
                .price-left {
                  .new-price {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    color: #0D2B28;
                    padding: 0;
                  }
                }
                .favorite-product {
                  display: flex;
                  align-items: center;
                  img {
                    margin-right: 4px;
                  }
                  span {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9B9B9B;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
