.widget {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
  .widget-title {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}
