@import "../../../assets/css/_vars";

.group-home-pc {
  .e-tabs {
    margin-left: -15px;
    margin-right: -15px;
  }
  .tab-content {
    padding-top: 30px;
    .group-list {
      margin: 0;
      overflow: auto;
      .add-new-group {
        .group-avatar {
          background: #09B1BA!important;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        .group-info {
          .group-name {
            color: #09B1BA;
            font-weight: 500;
            &:hover {
              color: $theme-primary-color-dark;
            }
          }
        }
      }
    }
  }
  .groups-section {
    .section-heading {
      h3 {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: #222222;
      }
    }
  }
  .section-inner {
    .group-list  {
      margin: 0;
    }
    .group-item {
      width: calc(25% - 20px);
      margin: 10px;
      .group-members {
        margin-bottom: 10px;
      }
    }
  }
  .start {
    padding: 100px 40px;
    .actions {
      text-align: center;
      margin-top: 60px;
      .btn {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        background: #09B1BA;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        &:hover {
          a {
            color: #FFFFFF;
          }
        }
      }
      .action-bg-yellow {
        background: #FFBA49;
      }
      .action-bg-blue {
        background: #09B1BA;
      }
    }
  }
}
.group-banner {
  margin: -15px -15px 0;
  display: flex;
  justify-content: space-between;
  background: #09B1BA;
  padding: 20px;
  position: relative;
  border-radius: 4px 4px 0 0;
  p {
    margin-bottom: 0;
  }
  .group-banner-caption {
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 32px;
    display: flex;
    align-items: center;
    .font-weight {
      font-weight: 500;
    }
    .font-size-xl {
      font-size: 32px;
      line-height: 52px;
    }
    .font-size-small {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .group-banner-img {
    margin-bottom: -20px;
  }
}