.group-sidebar {
  padding: 0 !important;
  border-radius: 4px;
  .widget-title {
   border-top: 3px solid #09B1BA;
    border-radius: 4px 4px 0 0;
    padding: 20px 10px 10px 10px;
    margin: 0;
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
  }

  .nav-left {
    padding-bottom: 10px;
    border-bottom: 2px solid #141517;
    border-radius: 0  0 4px 4px;
    li {
      position: relative;
      padding: 8px 22px;
      color: #141517;
      &:hover {
        &:before {
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          font-size: 13px;
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          color: #09B1BA;
        }
      }
    }
  }
}
