.upsert-voucher-page {
  .condition-name {
    label {
      display: block;
      font-weight: bold;
    }
    p {
      margin-bottom: 0;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
}
