.is-mobile {
    .bar-drawer-mobile {
        label {
            margin-bottom: 0;
        }
        .bar-drawer-icon {
            width: 22px;
            height: 18px;
        }
        
        .bar_overlay {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(13, 43, 40, 0.3);
            display: none;
            animation: FadeIn linear 0.3s;
            z-index: 9999;
        }
        
        .bar_checkbox {
            display: none;
            &:checked ~ {
                .bar_overlay {
                    display: block;
                    }
                .bar_mobile {
                    transform: translateX(0%);
                    opacity: 1;
                    }
            }
        }
        .bar_mobile {
            position: fixed;
            top: 16px;
            left: 0;
            bottom: 0;
            width: 67.2%;
            background: #F6FDFD;
            transform: translateX(-100%);
            opacity: 0;
            transition: all linear 0.3s;
            z-index: 99999;
            border-radius: 4px;
            .bar_user {
                height: 72px;
                background: #09B1BA;
                border-radius: 4px 4px 0px 0px;
                display: flex;
                align-items: center;
                padding-left: 18px;
                .bar_user-avatar {
                    margin-right: 21px;
                }
                .bar_info {
                    h3 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #F6FDFD;
                        margin: 0;
                    }
                    p {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #F6FDFD;
                        margin: 0;
                        text-align: left;
                    }
                }
            }
            .bar_list {
                .bar_list-item {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 52px;
                    color: rgba(76, 98, 96, 0.7);
                    padding-left: 40px;
                    &.active {
                        color: #0D2B28;
                    }
                    &.border-bt {
                        border-bottom: 1px solid #E7E6E6;
                    }
                }
            }
        }
        .mg-l-22 {
            margin-left: 22px;
        }  
    }
}