.register-shop-page {
  background-color: #ffffff;
  padding: 40px;
  .section-heading {
    h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      color: #222222;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .section-inner {
  }
  .register-shop-form {
    $label-width: 120px;

    max-width: 800px;
    margin: 0 auto;
    .form-group {
      display: flex;
      >label {
        flex-basis: $label-width;
        font-weight: 500;
      }
    }
    .d-flex-1-1 {
      display: flex;
      justify-content: space-between;
      .form-group {
        &:first-child {
          width: calc(50% + 10px);
          margin-right: 20px;
          label {
            flex-basis: $label-width;
          }
        }
        &:last-child {
          width: calc(50% - 10px);
          label {
            flex-basis: $label-width - 24px;
          }
        }
        input {
          flex-grow: 1;
          flex-shrink: 2;
        }
      }
    }
    .checkbox {
      margin-top: 40px;
      >label {
        flex-basis: 103.41px;
        color: #09B1BA;
      }
    }
    .checkbox-list {
      .checkbox-item {
        margin-top: 0;
      }
      .form-control {
        display: inline-block;
        width: auto;
        height: 2em;
        margin-left: 10px;
      }
    }
    .btn-register {
      margin: 20px 0;
      background-color: #09B1BA;
      color: #ffffff;
      border-radius: 24px;
      width: 160px;
    }
  }
  .t-8 {
    top: 8px
  }
}
.is-mobile {
  .register-shop-page {
    padding: 20px 10px;
    .section-heading {
      h1 {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    .register-shop-form {
      .form-group {
        display: block;
        label {
          font-size: 12px;
        }
      }
      .d-flex-1-1 {
        display: block;
        .form-group {
          width: 100% !important;
        }
      }
      .checkbox-list {
        .form-control {
          margin-left: 30px;
        }
      }
    }
    .t-8 {
      top: 0;
    }
  }
}