.commission-explain {
  width: 100%;
  height: 100%;
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
  }
  p {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 1rem;
    li {
      list-style: disc;
      margin-bottom: 10px;
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}
