.commission-info {
  margin-bottom: 15px;
  .quote {
    margin-bottom: 20px;
    font-style: italic;
    p {
      margin-bottom: 10px;
    }
    .hint {
      text-decoration: underline;
    }
  }
}
