.product-option-group {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  max-width: 700px;
  background: #fafafa;
  position: relative;
  .btn-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
  }
  .option-input {
    position: relative;
    padding-right: 30px;
    .btn-delete-option {
      position: absolute;
      top: 8px;
      right: 10px;
      z-index: 1;
      cursor: pointer;
    }
  }
}

.add-product-option-group, .add-product-option-value {
  width: 100%;
  height: 40px;
  border: 1px dashed #cccccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  span {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    font-size: 18px;
    color: #cccccc;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 50%;
  }
}
