
.is-mobile {
  .popular-search-section {
    .container {
      padding-right: 0;
      .section-heading {
        margin-bottom: 8px;
        padding-right: 18px;
      }
      .popular-search-items {
        display: flex;
        flex-wrap: wrap;
        .search-item {
          border: 1px solid #E7E6E6;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 4px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          margin-top: 12px;
          .search-title {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #4C6260;
            letter-spacing: 0;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
  