@import "../../../assets/css/_vars";

.group-detail {
  .join-now {
    margin-top: 15px;
    .btn {
      padding: 2px 10px;
      margin-right: 10px;
    }
  }
  .invite {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
      padding: 2px 10px;
      margin-right: 10px;
    }
    .action {
      white-space: nowrap;
    }
  }
  .group-info {
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    .group-property {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      label {
        font-weight: bold;
      }
      .property-value {
        margin-bottom: 0;
      }
    }
  }

  .group-tabs {
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #dee2e6;
    .nav-tabs {
      flex: 1;
      border: none;
      .nav-link, .btn {
        text-transform: uppercase;
        font-weight: 500;
        border: none;
        font-size: inherit;
        &.active {
          font-weight: bold;
          color: $theme-primary-color;
          border-bottom: 3px solid $theme-primary-color;
        }
      }
    }
    .group-actions {
      .btn {
        padding: 0.25rem 0.5rem;
      }
      .btn + .btn {
        margin-left: 10px;
      }
    }
  }

  .group-products {
    padding: 15px 0;
  }

  .manage-group-pages {
    padding-top: 1rem;
    .page-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.875rem;
      + .page-content {
        padding-top: 0 !important;
      }
      h3 {
        text-transform: uppercase;
        font-size: 1.125rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
      }
      .action-group {
        display: flex;
        align-items: center;
        > * {
          margin-left: 12px;
        }
        .btn {
          height: 34px;
          padding: 0 12px;
          line-height: 34px;
          font-size: 0.875rem;
        }
      }
      .search-box {
        width: 100%;
        max-width: 200px;
        position: relative;
        input[type=text] {
          padding-right: 34px;
          height: 34px;
          line-height: 34px;
        }
        .search-icon {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 34px;
          height: 34px;
          padding: 0;
          line-height: 34px;
          text-align: center;
        }
      }
    }
  }
}

.group-policy {
  p {
    margin-bottom: 0.5rem;
  }
}

.is-mobile {
  .group-detail {
    .join-now {
      margin-bottom: 10px;
      padding: 0 15px;
      .btn {
        padding: 6px 12px;
      }
    }
    .group-tabs {
      display: block;
      border-bottom: none;
      margin-top: 0;
      .nav-tabs {
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 10px;
        .nav-item {
          white-space: nowrap;
        }
      }
      .group-actions {
        text-align: center;
      }
    }
    .group-posts {
      padding: 10px;
    }
    .join-now {
      span {
        display: none;
      }
    }
  }
}
