@import "../../../assets/css/_vars";

.is-mobile {
  
  .cart-page {
    min-height: calc(100vh - 130px);
  }
  .cart-mobile {
    padding: 15px;
  }
  .cart-list-product {
  }
  .cart-item {
    background: #FFFFFF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    .cart-item-header {
      display: flex;
      justify-content: space-between;

      .c-shop {
        font-size: 16px;
        color: $link-color-1;
        font-weight: 500;
      }
      .cart-item-actions {
        .dropdown-bar-icon {
          background: #FFFFFF;
          box-shadow: 0 1px 25px rgba(0, 0, 0, 0.14);
          border-radius: 8px;
          border: none !important;
          transform: translate3d(-154px, 12px, 0px) !important;
          a {
            padding: 10px;
            text-align: center;
            position: relative;

          }
          //a:first-child {
          //  border-bottom: 1px solid #9b9b9b40;
          //}
        }
      }

      i {
        color: $neutral-color-2;
        font-size: 16px;
        padding-top: 5px;
      }
    }

    .cart-item-content {
      display: flex;
      line-height: 28px;
      .p-image {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-right: 10px;
        background: #fefefe no-repeat center center;
        background-size: contain;
      }
      .p-content {
        .p-name {
          font-size: 14px;
          font-weight: 500;
        }
        .p-price {
          margin-bottom: 5px;
          .old-price {
            font-size: 12px;
            color: #9B9B9B;
            margin-right: 10px;
          }
          .new-price {
            font-size: 14px;
          }
        }
        .p-qty {
          margin-bottom: 15px;
          .input-spin .input-group .input-group-prepend .btn,.input-spin .input-group .input-group-append .btn {
            font-size: 18px;
            color: #9B9B9B;
            background: #FFFFFF;
            border-radius: 50% !important;
            border: none;
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08) !important;
          }
          .input-spin .input-group input {
            border: none;
            font-weight: 500;
          }
        }
      }
    }
  }
  .cart-voucher {
    padding: 20px 0 15px 0;
    .mb-3 {
      height: 38px;
      input {
        width: 100%;
        height: 100%;
        font-size: 14px;
        border: none;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 6px 35px 35px 6px
      }
      .input-group-append {
        position: absolute;
        right: 0;
        height: 38px;
        width: 38px;
        z-index: 3;
        span {
          border-radius: 50%;
          border: none;
          background: #09B1BA;
          i {
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .sub-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 30px 20px;
    span {
      color: #9b9b9b;
    }
    .price-total {
      font-size: 18px;
      font-weight: 500;
      color: #09B1BA;
    }
  }
  .cart-btn-bottom {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    z-index: 1000;
    padding: 15px 0 20px 0;
    background: #FFFFFF;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px 12px 0 0;
    .btn {
      width: 80%;
      max-width: 420px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }
}