
.breadcrumb-cart {
  padding: 20px;
  background: #F6F6F6;
  h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #222222;
  }
  i {
    color: #09B1BA;
    margin-left: 5px;
  }
}
.cart-page {
  background: #F6F6F6;
  padding-bottom: 80px;
  .cart-table, .no-data {
    flex-basis: 75%;
  }
  .no-data {
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    .btn {
      padding: 10px 50px;
      text-transform: uppercase;
      border-radius: 25px;
      background: #09B1BA;
      box-shadow: 0 4px 8px rgba(211, 38, 38, 0.25);
    }
  }
  .checkout {
    flex-grow: 1;
    margin-left: 20px;
    .overview {
      padding: 15px 12px;
      background: #FFFFFF;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      .title {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #9B9B9B;
        font-weight: 500;
      }
      ul {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #EDEEF0;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          line-height: 28px;
          color: #141417;
        }
      }
      .total {
        text-align: right;
        color: #141417;
        .price {
          margin-left: 15px;
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          color: #09B1BA;
        }
      }
      .vat {
        padding: 10px 0;
        margin: 0;
        font-size: 12px;
        line-height: 18px;
        color: #9B9B9B;
        text-align: right;
      }
    }
    .btn-cart-checkout {
      margin: 15px 0 20px 0;
      width: 100%;
      background: #09B1BA;
      box-shadow: 0 4px 8px rgba(211, 38, 38, 0.25);
      border-radius: 25px;
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;
    }
    .payment-methods{
      font-size: 12px;
      ul.methods {
        display: flex;
        li {
          margin-right: 20px;
        }
      }
    }
  }
}