@import "../../../../assets/css/_vars";

.product-main-info {
  padding: 0 10px;
  .product-name {
    h1 {
      margin-bottom: 10px;
    }
    .brand-sku {
      display: flex;
      p {
        margin-right: 20px;
        margin-bottom: 10px;
        color: $neutral-color-2;
        a {
          color: $link-color-1;
        }
        span {
          color: #222222;
        }
      }
    }
  }
  .product-overview {
    padding: 15px 0;
  }
  .product-cart {
    display: flex;
    padding: 15px 0;
    .add-to-cart-options {
      flex: 1;
      label {
        font-weight: 500;
        font-size: 18px;
      }
    }
    .qr-code {
      img {
        width: 96px;
        height: 96px;
      }
    }
  }

  .product-cart-actions {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px 0;
    .btn {
      color: #fff;;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 10px;
      padding: 0.5rem 1.5rem;
      span {
        margin-right: 10px;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }

  .product-rating {
    margin-bottom: 10px;
    .star-rating {
      font-size: 1rem;
    }
    .view-rating {
      font-size: 0.8125rem;
    }
  }

  .product-price {
    margin-bottom: 8px;
    .price {
      font-size: 1.625rem;
      color: #ed1c24;
      font-weight: 600;
      margin-right: 1.625rem;
      &.old-price {
        color: #c7c8ca;
        position: relative;
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 0;
          right: 0;
          background-color: #c7c8ca;
        }
      }
    }
  }

  .product-main-features {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    tr {
      td {
        line-height: 1.675rem;
        vertical-align: top;
        &:first-child {
          white-space: nowrap;
          padding-right: 15px;
        }
      }
    }
  }

  .product-options {
    padding-left: 16px;
    padding-top: 20px;
    .option-group {
      &:first-child {
        margin-bottom: 15px;
      }
      label {
        font-size: 18px;
      }
      ul {
        li {
          display: inline-block;
          min-width: 70px;
          height: 30px;
          font-size: 17px;
          line-height: 29px;
          text-align: center;
          border: 1px solid #DBDBDB;
          border-radius: 3px;
          margin-right: 5px;
          transition: 0.3s;
          cursor: pointer;
          padding: 0 8px;
          margin-bottom: 5px;
          &.active, &:hover {
            border: 1px solid #09B1BA;
          }
        }
      }
    }
  }

  .add-to-cart {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;

    .select-qty {
      label {
        display: block;
      }
    }
  }

  .flash-sale-section {
    background: $theme-primary-color;
    padding: 8px 12px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .flash-sale-logo {
      color: white;
    }
    .count-down-wrapper {
      color: #fff;
      text-transform: uppercase;
      .count-down {
        margin-left: 10px;
        span {
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 16px;
          &.divider {
            width: auto;
          }
        }
      }
    }
  }
  .border-bottom {
    border-bottom: 0.4px solid #ECECEC;
  }
}

/** NEW **/

.entry-price {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .star-color {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .review-text {
      color: #9B9B9B;
    }
  }
  .product-price {

  }
  .new-price {
    font-size: 27px;
    color: #DB3022;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .old {
    span {
      margin-right: 10px;
    }
    .old-price {
      font-size: 16px;
      color: #9B9B9B;
    }
  }
  .review-star {
    display: inline-block;
    text-align: center;
  }
  .review-text {
    display: block;
    text-align: center;
  }
  .entry-price-rate {
    text-align: center;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    -ms-flex: 0 0 168px;
    flex: 0 0 168px;
    max-width: 168px;
    display: block;
  }
  .entry-price-left {
    padding-right: 30px;
    -ms-flex: 0 0 calc(100% - 168px);
    flex: 0 0 calc(100% - 168px);
    max-width: calc(100% - 168px);
  }
}

.entry-description {
  font-size: 14px;
  .d-flex {
    margin-bottom: 10px;
    padding: 10px 0;
    label {
      font-weight: 500;
      color: #9B9B9B;
      flex-basis: 100px;
    }
  }
  .option-group {
    align-items: center;
  }
  .qty {
    align-items: center;
    span {
      margin-left: 10px;
      color: #9b9b9b;
    }
    p {
      margin-left: 10px;
    }
  }
}

.entry-info-buyer {
  margin-bottom: 20px;
  width: 420px;
  .group {
    background-color: #FFBA49;
    position: relative;
    padding: 9px 9px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 4px;
    .group-info {
      flex: 1;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .group-avatar, .text {
        float: left;
      }
      .group-avatar {
        width: 45px;
        height: 45px;
        margin-right: 15px;
      }
      .group-names {
        display: flex;
        padding-right: 5px;
        .group-name {
          font-weight: bold;
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 180px;
        }
        .overflow {
          max-width: 50px;
        }
        .other-names {
          padding-left: 5px;
          white-space: nowrap;
          text-decoration: underline;
        }
      }
      .text {
        max-width: calc(100% - 50px);
      }
    }
    .preferred {
      .preferred-point {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        padding: 4px 10px;
        font-weight: normal;
        white-space: nowrap;
        background-color: #c41a30;
        color: #ffefcd;
      }
    }
  }
}

.entry-notice {
  width: 420px;
  .status {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 8px 0;
    color: #09B1BA;
    background: #D1E5FD;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 20px;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  .status-error {
    background: $theme-primary-color-2;
    color: $theme-primary-color;
  }
}

.entry-ship {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 7px;
  margin-bottom: 27px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  .shipping {
    padding: 0 15px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    &:first-child {
      border-right: 1px solid #bcbcbc;
    }
  }
}

.is-mobile {
  .product-main-info {
    .product-name, .entry-price-rate, .entry-info-buyer .group, .entry-notice, .entry-description .item {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  .product-main-info {
    padding: 0 !important;
    .product-overview {
      border-bottom: none;
      padding: 0;
    }
    h1 {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #0D2B28;
      text-align: left;
      padding: 0;
      margin: 0;
    }
    
    .add-to-cart-options {
      margin-bottom: 10px;
      .add-to-cart {
        padding-left: 16px;
        label {
          font-size: 18px;
        }
      }
    }
  }
  .product-name {
    display: flex;
    justify-content: space-between;
  }
  .entry-price {
    display: block;
    margin-bottom: 15px;
    .entry-price-left {
      padding-right: 0;
      .new-price {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #DB3022;
        margin-bottom: 4px;
      }
    }
    .entry-price-left, .entry-price-rate {
      width: 100%;
      max-width: 100%;
    }
    .entry-price-rate {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 3px;
      .star-color {
        margin-bottom: 0;
        .star-rating {
          .review-text {
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: #9B9B9B;
            display: inline-block;
            margin-bottom: 0;
          }
          i {
            font-size: 13.4px;
          }
        }
      }
      .color-gray {
        display: inline-block;
        margin-left: 7px;
        margin-right: 10px;
      }
      .sold {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #4C6260;
      }
    }
    .product-favorite {
      display: inline-flex;
      box-shadow: none;
      margin-left: auto;
      margin-right: 0;
      font-size: 16px;
      height: 21.6px;
      margin-right: 2px;
      align-items: center;
      width: auto;
      .likes-count {
        display: inline-block;
        font-size: 16px;
        line-height: 18px;
        color: #9B9B9B;
        margin-left: 6px;
      }
    }
    .old-price-wrapper {
      display: flex;
      .old-price {
        margin-right: 7px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #9B9B9B;
      }
      .saving-price {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #4C6260;
      }
    }
  }
  .flash-sale-off {
    padding: 5px 18px;
    .sale {
      margin-top: -5px;
      height: 31px;
      width: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #F6FDFD;
      text-align: center;
      background: #09B1BA;
      border-radius: 14px;
      span {
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
  .entry-notice {
    .status {
      background: rgba(7, 161, 209, 0.15);
      border-radius: 4px;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #09B1BA;
      padding: 0;
      justify-content: flex-start;
      padding-left: 17px;
      margin-bottom: 16px;
      img {
        color: #09B1BA;
        margin-right: 12px; 
      }
    }
  }
  .entry-description {
    font-size: 14px;
    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.1px solid #ebe5e5;
      padding: 15px 0 12px;
      &.select-option {
        div:last-child {
          min-width: 75px;
        }
      }
      &:first-child {
        border-top: 0.1px solid #ebe5e5;
      }
      &:last-child {
        border-bottom: none;
      }
      > strong {
        color: $neutral-color-2;
        font-weight: 500;
        width: 90px;
        flex-basis: 90px;
        flex-shrink: 0;
      }
      div {
        line-height: 22px;
        color: #4C6260;
        i {
          color: #09B1BA;
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .item-2 {
        flex-grow: 2;
        .address {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;  
          -webkit-box-orient: vertical;
          color: #09B1BA;
          margin-bottom: 8px;
        }
        .shipping-fee  {
          display: block;
          span {
            color: #09B1BA;
          }
        }
        
      }
      &.shipping {
        position: relative;
        .free-ship {
          position: absolute;
          bottom: 16px;
          right: 24px;
        }
      }
    }
  }
  .entry-info-buyer {
    padding: 0 15px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    .group {
      padding: 15px 0;
      margin-bottom: 5px;
      background-color: #FFBA49;
      border: none;
      &:before{
        height: 0;
      }
      .preferred {
        .preferred-point {
          padding: 4px 6px;
        }
      }
    }
  }
  .entry-notice {
    width: 100%;
  }
  .product-main-info {
    .product-cart-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0 38px 0;
      .btn {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        font-weight: normal;
        text-transform: none;
        border-radius: 0;
        border: none;
        &.btn-danger-mobile {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          padding: 10px 30px;
          border: 1.5px solid #09B1BA;
          box-sizing: border-box;
          border-radius: 4px;
          background-color: #ffffff;
          color: #09B1BA;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        img {
          margin-bottom: 7.3px;
          margin-top: 12px;
        }
        span {
          display: inline-block;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #4C6260;
          margin: 0;
          letter-spacing: 0;
        }
      }
      .btn-message {
        width: 30%;
        position: relative;
        &::after {
          content: '';
          width: 1px;
          background-color:#E7E6E6;
          height: 43px;
          position: absolute;
          bottom: 0;
          right: -2px;
        }
      }
      .btn-cart {
        width: 35%;
      }
      .btn-buy {
        width: 35%;
        background: #DC0C1F;
        span {
          color: #FFFFFF;
        }
      }
    }

    .cart-button-bottom {
      height: 95px;
      position: fixed;
      z-index: 1000;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: #FFFFFF;
      box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.03);
    }

    .flash-sale-section {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      padding: 10px 17px 11px 19px;
      margin-bottom: 12px;
      background: linear-gradient(90deg, #09B1BA 0%, #07A1D1 100%);
      .count-down-wrapper {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        text-transform: none;
        .count-down {
          margin-left: 11px;
          span {
            margin-right: 0;
            border-radius: 0;
            padding-top: 5px;
            width: 14px;
            height: 15px;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            background: none;
            &.divider {
              width: 12px;
            }
          }
        }
      }
      .sold-wrapper {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.62);
        display: flex;
        align-items: center;
        >span {
          font-weight: 500;
          color: #FFFFFF;
          margin-left: 4px;
          margin-right: 7px
        }
        .sold-progress {
          margin-left: auto;
          width: 81px;
          height: 4px;
          border-radius: 2px;
          background-color: #39B5D9;
        }
        .sold-percent {
          width: 20%;
          height: 100%;
          background-color: #FFFFFF;
          border-radius: inherit;
        }
      }
    }
  }

  .cart-panel {
    position: fixed;
    top:50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10002;
    background: #fff;
    padding: 10px 0;
    .entry-description {
      .item {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  .cart-panel-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.3);
  }
}
