.chat-page {
  .chat-window {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: calc(100vh - 220px);
    min-height: 400px;
    max-height: 700px;
    .conversations {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      border: 1px solid #e0e0e0;
      width: 300px;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #ffffff;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      &__top {
        padding: 6px 12px;
        color: #ffffff;
        background-color: #09B1BA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        border-top-left-radius: 4px;

        .user-info {
          display: flex;
          align-items: center;
          .user-name-wrapper {
            padding-left: 10px;
            .user-name {
              font-size: 16px;
            }
            .online {
              font-size: 12px;
            }
          }
        }

        .actions {
          a {
            color: #ffffff;
            transition: 0.3s;
            &:hover {
              color: #d0d0d0;
            }
          }
          i {
            vertical-align: middle;
            margin-right: 5px;
          }
        }

      }

      .search-box {
        padding: 0 13px;
        margin: 10px 0;

        .input-wrapper {
          background: #f5f5f5;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            color: grey;
          }

          input {
            border: none;
            border-radius: 40px;
            width: 80%;
            padding: 6px 0;
            background: transparent;

            &::placeholder {
              color: #e3e3e3;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    .conversation-wrapper {
      width: calc(100% - 300px);
      height: 100%;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-left-width: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .conversations {
    .chat-window-header {
      padding: 15px 20px;
      background: #ffffff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-bottom: 1px solid #ebebeb;
    }
    ul {
      overflow-x: hidden;
      overflow-y: auto;
      li {
        width: 100%;
        padding: 10px 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        text-align: left;
        position: relative;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        margin-bottom: 0;
        border-bottom: 1px solid #fafafa;
        &.active {
          background: #f5f5f5;
        }

        &:hover {
          background-color: #f0f0f0;
        }
        .user-avatar {
          width: 50px;
          margin: 0 10px 0 0;
          -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
        }
        .conversation-content {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          overflow: hidden;
          h4 {
            font-size: 0.875rem;
            margin: 0;
            font-weight: bold;
          }
          .chat-excerpt {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            margin-top: 4px;
            p {
              color: #595959;
              margin: 0;
              font-size: 0.875rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              display: inline-block;
            }
            .time {
              color: #bababa;
              font-size: 0.875rem;
              -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
              flex-shrink: 0;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}

.is-mobile {
  .chat-page {
    margin-top: 71px;
    .chat-window {
      height: auto;
      min-height: calc(100vh - 84px);
      background-color: #eeeeee;
      .conversations {
        width: 100%;
        &__top {
          width: 100%;
          border-radius: 0;
          padding: 8px 22px 8px 10px;
          .user-info {
            i {
              display: none;
            }
          }
        }
        .search-box {
          padding: 0 18px;
          .input-wrapper {
            background: #E7E6E6;
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: rgba(13, 43, 40, 0.74);
            }
            ::-moz-placeholder { /* Firefox 19+ */
              color: rgba(13, 43, 40, 0.74);
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: rgba(13, 43, 40, 0.74);
            }
            :-moz-placeholder { /* Firefox 18- */
              color: rgba(13, 43, 40, 0.74);
            }
          }
          i {
            color: #09B1BA;
          }
        }
      }

      ul {
        li {
          padding: 12px 18px;
          a {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .chat-excerpt {
              margin-top: 6px;
              align-items: center;
              p {
                text-align: left;
                margin-right: 10px;
              }
            }
          }
        }
      }
      .conversation-wrapper{
        display: none;
      }
      .messages {
        display: none;
      }
    }
  }
}
