.group-home-mobile {
  background: #F6F6F6;
  .header-mobile {
    background: #FFFFFF;
    margin-left: -16px;
    margin-right: -16px;
  }
  .nav-tabs {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    .nav-item {
      margin-bottom: -1px;
      padding: 5px 36px;
    }
    .nav-link {
      border: none !important;
    }
    .nav-link.active, .nav-item.show .nav-link {
      color: #09B1BA;
      font-weight: 500;
      border-bottom: 1px solid #09B1BA !important;
    }
  }
  .group-list {
    margin: 0;
    .group-item {
      padding: 0;
      margin-bottom: 8px;
    }
    .group-item-wrapper {
      box-shadow: none;
      background: #FFFFFF;
    }
    .add-new {
      .group-avatar {
        background: #09B1BA;
        width: 84px;
        height: 84px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 34px;
          height: 34px;
        }
      }
      .group-info {
        display: flex;
        align-items: center;
        color: #09B1BA;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .suggest-groups {
    .section-heading {
      h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 0;
      }
    }
    .group-list {
      flex-wrap: nowrap;
      overflow-x: auto;
      .group-item {
        flex: 0 0 140px;
        max-width: 140px;
        padding: 5px 5px 10px 5px;
        margin-right: 8px;
        background: #FFFFFF;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        .group-avatar {
          height: 134px;
          border-radius: 4px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(179.87deg, rgba(0, 0, 0, 0) 34.03%, rgba(34, 34, 34, 0.84) 99.9%);
          }
          .group-info {
            font-size: 12px;
            line-height: 14px;
            position: absolute;
            bottom: 10px;
            left: 0;
            padding: 0 10px;
            .group-name, .group-members {
              color: #FFFFFF;
            }
          }
        }
        .join-group {
          text-align: center;
          padding-top: 10px;
          .btn {
            background: #09B1BA;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 12px;
            padding: 8px 20px;
          }
        }
      }
    }
  }
}
.is-mobile {
  .group-page {
    background: #F6F6F6!important;
  }
  .group-home {
    padding: 0!important;
  }
}