.is-mobile {
    .register-page {
        .register-form {
            .action {
                margin-bottom: 20px;
            }
            .agree-policy {
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #9B9B9B;
                a {
                    color: #0D2B28;
                }
            }
            &.register-email-form {
                .agree-policy {
                    margin-top: 70px;
                    margin-bottom: 0;
                }
            }
            &.register-phone-form {
                .agree-policy {
                    position: fixed;
                    margin: 0;
                    bottom: 35px;
                    width: calc(100% - 36px);
                }
            }
        }
    }
}