.upload-images {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .image-item, .add-image {
    width: 100px;
    height: 100px;
    border: 1px dashed #cccccc;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-bottom: 10px;
  }
  .image-item {
    margin-right: 10px;
    .delete-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
      cursor: pointer;
      color: #09B1BA;
      font-size: 12px;
      border: none;
      display: none;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      background: #ffffff;
      border-radius: 50%;
    }
    &:hover {
      .delete-btn {
        display: block;
      }
    }
  }
  .add-image {
    span {
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 18px;
      color: #cccccc;
      border: 1px solid #cccccc;
      text-align: center;
      border-radius: 50%;
    }
  }
}
