.breadcrumb-section {
  .breadcrumb {
    background: transparent !important;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    .breadcrumb-item {
      font-size: 12px;
      line-height: 18px;
    }
    &.breadcrumb-mobile {
      display: flex;
      flex-wrap: nowrap;
      .breadcrumb-item {
        display: none;
        white-space: nowrap;
        &.active, &.home-item {
          display: block;
        }
        &.active {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
