@import "../../assets/css/_media";
@import "../../assets/css/_vars";
// HOME PAGE
.home-page {
  .header {
    margin-bottom: 0.625rem;
  }
  .section {
    background: #F6F6F6;
  }
  .flash-sale-section {
    .section-heading {
      margin-bottom: 0;
      border-radius: 12px 12px 0 0;
      background: #09B1BA;
      height: 42px;
      line-height: 42px;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url(publicUrl('/assets/images/icons/icon-flash-sale.svg')) no-repeat center center;
        background-size: contain;
        position: absolute;
        top: -5px;
        left: -15px;
      }
      h2 {
        font-size: 24px;
        padding-left: 40px;
        color: #ffffff;
      }
      a {
        font-size: 14px;
        color: #ffffff;
        margin-right: 1rem;
      }
    }
    h3 {
      display: flex;
    }
    .count-down {
      margin-left: 1rem;
      font-size: 0.8125rem;
    }
    .section-inner {
      .product-items {
        margin: 0;
        padding: 15px 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom: 6px solid #09B1BA;
      }
    }
    .product-item {
      .product-name {
        display: none;
      }
      .item-price {
        color: #09B1BA;
        font-size: 0.875rem;
        justify-content: center;
        .old-price {
          display: none;
        }
      }
    }
  }
  .viewed-section {
    .product-items {
      padding: 15px 0;
    }
  }
}

.is-mobile {
  .home-page {
    .header-mobile-home {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99999;
      background-color: #f6f6f6;
      box-shadow: 0px 4px 4px rgba(13, 43, 40, 0.03);
      &.pd-t-16 {
          padding-top: 16px;
      }
      .home-header {
          display: flex;
          align-items: center;
          padding: 0 18px;
          background-color: #f6f6f6;
          .header-mobile-logo {
              width: 65px;
              height: 20px;
              margin-left: 19px;
          }
          .cart-icon-mobile {
              margin-right: 12px;
              margin-left: auto;
          }
      }
    }
    .viewed-section {
      .product-items {
        width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
      }
    }
    .flash-sale-section {
      padding-top: 1.5rem;
      margin-bottom: 0;
      .section-heading {
        position: relative;
        h2 {
          height: 100%;
          background: none;
          color: #fff;
          padding-right: 6px;
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
          align-items: center;
          padding-left: 40px;
        }
        .count-down {
          span {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 2px;
            &.divider {
              color: rgba(255, 250, 250, 0.2);
              background: none;
              width: 0.875rem;
            }
          }
        }
        a {
          position: absolute;
          margin-right: 0;
          right: 0;
          top: -32px;
          color: $theme-primary-color;
          font-size: 12px;
        }
      }
      .section-inner {
        padding-bottom: 0;
      }
      .product-items {
        width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
      }
    }
  }
}
