.group-activity {
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &.empty-row {
    min-height: 60px;
  }
  .user-avatar {
    margin-right: 6px;
    float: left;
  }
  p {
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time {
    color: #999;
  }
}

.list-activity {
  border: 1px solid #e0e0e0;
  position: relative;
  .no-data {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 0;
    background: #fff;
  }
}