.tab-menu {
  .dropdown {
    button {
      color: inherit !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      background: none !important;
    }
  }
}
