@import "../../assets/css/_vars";

.help-center {
  .page-content {
    padding: 0 30px 30px;
  }

  .search-section {
    padding: 30px 0 50px;
    margin-bottom: 30px;
    .search-input {
      width: 100%;
      max-width: 450px;
      margin: auto;
      position: relative;
      input {
        border: 1px solid $theme-primary-color;
        border-radius: 20px;
        outline: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 30px 0 20px;
      }
      i {
        position: absolute;
        top: 12px;
        right: 16px;
        color: #8a8a8a;
        pointer-events: none;
      }
      .example {
        margin-top: 12px;
        padding-left: 20px;
        font-size: 12px;
        color: #8a8a8a;
      }
    }
  }

  .topic-row {
    width: 100%;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .topic {
    width: 49.8%;
    float: left;
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
    font-weight: normal !important;
  }

  .link-list {

    li {
      line-height: 2;
      position: relative;
      padding-left: 15px;

      &:before {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 3px;
        background: #8a8a8a;
        position: absolute;
        top: 12px;
        left: 4px;
      }
    }
  }
}

.is-mobile {
  .help-center {
    .topic {
      width: 100%;
      float: none;
      margin-bottom: 20px;
    }
    .search-section {
      margin-bottom: 0;
    }
  }
}