@import "_vars";

.eplaza-ico {
  background: url(publicUrl('/assets/images/v2/eplaza-ico.png')) no-repeat;
  display: inline-block;
}

.ico-incentive {
  background-position: 0 0;
  width: 17px;
  height: 16px;
}

.ico-booking {
  background-position: -20px 0;
  width: 19px;
  height: 16px;
}

.ico-ticket {
  background-position: -40px 0;
  width: 16px;
  height: 16px;
}

.ico-product {
  background-position: -60px 0;
  width: 22px;
  height: 16px;
}

.ico-business {
  background-position: -85px 0;
  width: 14px;
  height: 16px;
}

.ico-bar {
  width: 20px;
  height: 17px;
  background-position: 0 -20px;
}

.ico-bar-white {
  width: 20px;
  height: 17px;
  background-position: 0 -40px;
}

/* icon left menu */
.icon-wrap {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrap [class*="ico-"] {
  display: inline-block;
  background: url(publicUrl('/assets/images/v2/icon-wrap.png')) no-repeat;
}

.ico-tracking {
  background-position: -20px -20px;
  width: 20px;
  height: 18px;
}

.ico-notification {
  background-position: -40px -20px;
  width: 17px;
  height: 17px;
}

.ico-cart {
  background-position: -60px -20px;
  width: 21px;
  height: 19px;
}

.ico-gift {
  background-position: 0 0;
  width: 11px;
  height: 14px;
}

.ico-mouse {
  background-position: -20px 0;
  width: 7px;
  height: 14px;
}

.ico-tshirt {
  background-position: -40px 0;
  width: 13px;
  height: 14px;
}

.ico-shoes {
  background-position: -60px 0;
  width: 20px;
  height: 14px;
}

.ico-laptop {
  background-position: -80px 0;
  width: 20px;
  height: 14px;
}

.ico-cellphone {
  background-position: 0 -20px;
  width: 7px;
  height: 14px;
}

.ico-beauty {
  background-position: -20px -20px;
  width: 16px;
  height: 14px;
}

.ico-sofa {
  background-position: -40px -20px;
  width: 15px;
  height: 14px;
}

.ico-bed {
  background-position: -60px -20px;
  width: 20px;
  height: 14px;
}

.ico-shower {
  background-position: -80px -20px;
  width: 15px;
  height: 14px;
}

.ico-basket {
  background-position: 0 -40px;
  width: 16px;
  height: 14px;
}

.ico-book {
  background-position: -20px -40px;
  width: 17px;
  height: 14px;
}

.ico-voucher {
  background-position: -40px -40px;
  width: 19px;
  height: 14px;
}

.ico-plane {
  background-position: -20px -40px;
  width: 42px;
  height: 42px;
}

.ico-certificate {
  background-position: 0 -90px;
  width: 20px;
  height: 23px;
}

.ico-guarantee {
  background-position: -30px -90px;
  width: 20px;
  height: 23px;
}

.ico-dollar {
  background-position: -60px -90px;
  width: 21px;
  height: 20px;
}

/** End left menu **/

@mixin ico2($pos) {
  background: url(publicUrl('/assets/images/v2/sprites-sf12b8de757.png')) no-repeat $pos;
  overflow: hidden;
  display: inline-block;
}

.ico-1 {
  @include ico2(0 -73px);
  height: 21px;
  width: 21px;
}

.ico-2 {
  @include ico2(-21px -73px);
  height: 22px;
  width: 24px;
}

.ico-3 {
  @include ico2(0 -142px);
  height: 39px;
  width: 36px;
}

.ico-4 {
  @include ico2(0 -18px);
  height: 18px;
  width: 25px;
}

.ico-5 {
  @include ico2(-22px -118px);
  height: 24px;
  width: 21px;
}

.ico-6 {
  @include ico2(0 -118px);
  height: 24px;
  width: 22px;
}

.ico-7 {
  @include ico2(-21px -53px);
  height: 20px;
  width: 20px;
}

.ico-8 {
  @include ico2(0 -222px);
  height: 52px;
  width: 52px;
}

.ico-9 {
  @include ico2(-16px -36px);
  height: 17px;
  width: 17px;
}

.ico-10 {
  @include ico2(-25px -18px);
  height: 17px;
  width: 19px;
}

.ico-11 {
  @include ico2(-34px 0);
  height: 18px;
  width: 18px;
}

.ico-12 {
  @include ico2(0 -36px);
  height: 17px;
  width: 16px;
}

.ico-13 {
  @include ico2(0 0);
  height: 17px;
  width: 16px;
}

.ico-14 {
  @include ico2(-16px 0);
  height: 18px;
  width: 18px;
}

.ico-15 {
  @include ico2(0 -181px);
  height: 41px;
  width: 42px;
}

.ico-16 {
  @include ico2(0 -95px);
  height: 23px;
  width: 20px;
}

.ico-17 {
  @include ico2(-20px -95px);
  height: 23px;
  width: 20px;
}

.ico-18 {
  @include ico2(0 -53px);
  height: 20px;
  width: 21px;
}
