$theme-primary-color: #09B1BA;
$theme-primary-color-2: #fdafbb;
$theme-primary-color-3: #fbe4e8;
$theme-primary-color-dark: #09B1BA;
$theme-secondary-color: #09B1BA;
$theme-accent-color: #09B1BA;
$theme-accent-color-2: #e6edf5;
$theme-accent-color-3: #d1e5fd;

$color-yellow: #ffcf5c;
$color-yellow-light: #fff8e7;
$color-green: #48b765;
$color-green-light: #d7f2de;
$color-pink: #fa8b95;
$color-pink-light: #ffe6e8;
$color-blue: #09B1BA;
$color-blue-light: #09B1BA;
$color-blue-light-2: #d5e9fa;

$neutral-color-1: #222222;
$neutral-color-2: #9b9b9b;
$neutral-color-3: #eaeaea;
$neutral-color-4: #edeef0;
$neutral-color-5: #ffffff;

$link-color-1: #09B1BA;

$body-color: #222222;

$theme-primary-color-mobile: #09B1BA;

@function publicUrl($uri) {
  @return $uri;
}
