@import "_vars";

html {
  font-size: 16px;
}

body {
  font-size: 14px;
  color: #000;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  //background: url(publicUrl('/assets/images/v2/bg/bg-body.jpg')) repeat;
  background-color: #f0f0f0;
}

.app-root {
  min-width: 1170px;
}

.main {
  background: #ffffff;
}

.is-mobile {
  background: #ffffff;

  .app-root {
    min-width: 320px;
    padding-bottom: 70px;
  }
}

h2 {
  font-size: 2rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  color: #09B1BA;
}

ol,
ul,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between;
}

.f-w-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.mw-400 {
  max-width: 400px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.p-10px {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-8 {
  margin-left: 8px;
}

.align-self-center {
  align-self: center !important;
}

.btn-rounded {
  border-radius: 25px;
}

.btn-red {
  color: #fff;
  background-color: $theme-primary-color;
  box-shadow: 0 4px 8px rgba(211, 38, 38, 0.25);

  &:hover {
    color: #fff;
    background-color: $theme-primary-color-dark;
  }
}

.btn-default {
  &:hover {
    color: $theme-primary-color;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-facebook {
  font-size: 13px;
  color: #ffffff;
  background-color: rgb(58, 89, 152);

  .icon {
    margin-right: 8px;
  }

  &:hover {
    color: #ffffff;
    background-color: rgb(59, 69, 133);
  }
}

.btn-google {
  font-size: 13px;
  color: #ffffff;
  background-color: #e21919;

  .icon {
    margin-right: 8px;
  }

  &:hover {
    color: #ffffff;
    background-color: #c81515;
  }
}

.by-socials {
  text-align: center;

  .btn-google {
    margin-left: 25px;
  }
}

.is-mobile {
  .by-socials {
    .btn {
      margin-left: 0;
      width: 280px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.common-form {
  .form-section-title {
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: #09B1BA 2px solid;
    margin: 0.5rem 0 0.75rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.clear {
  clear: both;
}

.paper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border: 1px solid #EDEEF0;
  padding: 15px;
  border-radius: 4px;
}

.padding-0 {
  padding: 0 !important;
}

.tag {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 4px;
  border: 1px solid #09B1BA;

  &.tag-red, &.tag-gray, &.tag-grey, &.tag-blue {
    color: #fff;
  }

  &.tag-red {
    background-color: #e1273b;
    border-color: #e10016;
  }

  &.tag-gray {
    background-color: #646464;
    border-color: #333;
  }

  &.tag-grey {
    background-color: #9c9c9c;
    border-color: #646464;
  }
  &.tag-blue {
    background-color: #09B1BA;
    border-color: #09B1BA;
  }
}

.alert + .alert {
  margin-top: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: $theme-primary-color;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $theme-secondary-color;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $theme-secondary-color;
    cursor: pointer;
  }
}

.text-underline {
  text-decoration: underline;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 6px;
}

.custom-checkbox-2 {
  $checkbox-size: 18px;
  position: relative;
  margin: 10px 0;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: 2;
    width: $checkbox-size;
    height: $checkbox-size;
    cursor: pointer;

    &:checked {
      + label {

      }

      + label:before {
        background: #09B1BA;
        border-color: #09B1BA;
      }

      + label:after {
        content: '\f00c';
        font-weight: 900;
        width: 18px;
        height: 18px;
        background: #09B1BA;
        color: #FFFFFF;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
        font-size: 12px;
        text-align: center;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }

  }

  label {
    padding-left: 30px;
    position: relative;
  }

  label:before {
    content: '';
    position: absolute;
    cursor: pointer;
    margin-left: -30px;
    display: inline-block;
    vertical-align: text-top;
    width: $checkbox-size;
    height: $checkbox-size;
    background: #FFFFFF;
    border: 1px solid #ECEBED;
    box-sizing: border-box;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }
}

.pagination {
  .page-item {
    margin: 0 6px;

    a {
      border-radius: 8px !important;
    }

    &.active {
      .page-link {
        color: #fff !important;
      }
    }

    .page-link {
      box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
      border: none;

      &:hover {
        background: #09B1BA;
        color: #ffffff;
      }
    }

    span.page-link {
      border: none;
      border-radius: 8px;

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.common-modal {
  .modal-title {
    text-transform: uppercase;
  }

  .modal-body {
    max-height: calc(100vh - 350px);
    overflow: auto;
  }
}

.common-page {
  padding-top: 0;
  padding-bottom: 2rem;

  .content-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border: 1px solid #e0e0e0;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
  }
}

.is-mobile {
  .common-page {
    background: #ffffff;
    padding-bottom: 1rem;
    padding-top: 0;

    .paper {
      box-shadow: none;
      border: none;
      padding: 0 0 12px;
    }

    .widget {
      box-shadow: none;
      border: none;
      padding: 12px 0;
    }
  }
}

.was-validated {
  .r-select {
    > div {
      border-color: #28a745;
    }

    &.is-invalid {
      > div {
        border-color: #dc3545;
      }
    }
  }
}

.search-title {
  color: #333333;
  font-size: 1.125rem;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-data {
  padding: 60px 0 60px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  min-height: 300px;

  img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 1rem;

    &.title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }
}

.is-mobile {
  .no-data {
    min-height: auto;
    padding: 40px 0;
  }
}

.advs {
  margin: 20px 0;

  img {
    width: 100%;
  }
}

.price-color {
  color: #09B1BA;
}

.new-price {
  font-weight: 500;
  font-size: 16px;
  color: #09B1BA;
  line-height: 1.1;
}

.old-price {
  text-decoration: line-through;
  line-height: 1.1;
}

.sale {
  //background: url(publicUrl('/assets/images/v2/price-bg.png')) no-repeat;
  background: $theme-primary-color;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 15px;
  height: 26px;
}

.btn-dark {
  background-color: #242424;
  border-color: #242424;
}

.btn-dark:hover {
  background-color: #0b0b0b;
  border-color: #0b0b0b;
}

.btn-danger {
  background-color: #c41a30;
  border-color: #c41a30;
}

.btn-danger:hover {
  background-color: #971425;
  border-color: #971425;
}

.btn-danger-mobile {
  background-color: #09B1BA;
  border-color: #09B1BA;
}

.btn-warning {
  color: #fff;
  background-color: #ffa200;
  border-color: #ffa200;
}

.btn-warning:hover {
  color: #fff;
  background-color: #cc8200;
  border-color: #cc8200;
}

.btn-orange {
  background-color: #ed4d2c;
  border-color: #ed4d2c;
  color: #fff;
}

.btn-orange:hover {
  color: #fff;
  background-color: #d43312;
  border-color: #d43312;
}

.btn-orange:focus {
  box-shadow: none;
}

.btn-default {
  background-color: #fafafa;
  border-color: #e0e0e0;
}

.btn-clear {
  border: none;
  background-color: transparent;
  padding: 0;
}

.button-group {
  margin: 0 -0.5rem;

  .btn {
    margin: 0 0.5rem;
  }
}

.btn-xl {
  line-height: 22px;
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 3px;
}

.btn-outline-dark {
  border-color: #333333;
  background-color: transparent;
  color: #333333;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
  border-color: #d0000a;
  background-color: transparent !important;
  color: #d0000a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn-outline-blue {
  border-color: #2aa6fb;
  background-color: transparent;
  color: #2aa6fb;
}

.btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active {
  border-color: #2aa6fb;
  background-color: transparent;
  color: #2aa6fb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn-outline-white {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn-outline-green {
  border-color: #1dc5ae;
  background-color: #f7fefc;
  color: #1dc5ae;
}

.btn-outline-green:hover, .btn-outline-green:focus, .btn-outline-green:active {
  border-color: #1dc5ae;
  background-color: #f7fefc;
  color: #1dc5ae;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.is-mobile .pb-0-m {
  padding-bottom: 0;
}

.custom-control {
  line-height: 1.6;
}

p.notification-content {
  margin-bottom: 0;
}

.notification-image {
  width: 64px;
  height: 64px;
  background: transparent no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.badge-container {
  position: relative;
  line-height: 40px;
  .badge {
    position: absolute;
    top: 2px;
    right: -5px;
    min-width: 1rem;
    height: 1rem;
    background: #09B1BA;
    box-shadow: 1px 1px 4px rgba(9, 177, 186, 0.25);
    border-radius: 7px;
    transform: translate(20%, 0);
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #F6FDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cdcdcd;
  }
}

.form-group {
  .description {
    margin-top: 5px;
  }
}

.form-submit {
  text-align: right;

  .btn {
    margin-left: 10px;
  }
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flash-sale-icon {
  margin-right: 5px;
  color: #D13A21;
}

.text-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.color-gray {
  color: $neutral-color-2;
}

.btn-bottom-mobile {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 1000;
  padding: 15px 0 20px 0;
  background: #FFFFFF;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px 12px 0 0;

  .btn {
    width: 80%;
    max-width: 420px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
;
}

.section-mobile {
  .section-title {
    h2, h3 {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #9B9B9B;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
}

.link-read-more {
  font-size: 14px;

  &:hover {
    font-weight: 500;
  }
}

.btn {
  &:hover {
    opacity: 0.9;
  }
}

.products-section {
  .section-inner {
    background: #ffffff;
    border-radius: 5px;
  }
}

.e-tabs {
  color: $neutral-color-2;
  border-bottom: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 3px 3px;

  .nav-link {
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      border-color: transparent;
    }
  }

  .nav-link.active {
    color: #09B1BA;
    font-weight: 500;
    display: inline-block;
    border: none;
    border-bottom: 2.5px solid #09B1BA;
  }
}

.slider-control-centerleft {
  left: -18px !important;
}

.slider-control-centerright {
  right: -18px !important;
}

.nuka-slider-btn-next, .nuka-slider-btn-prev {
  background: rgba(255, 255, 255, 0.6);
  border: none !important;
  outline: none !important;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  color: #555555;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
    transition: all 0.2s;
  }
}

.is-mobile {
  .nuka-slider-btn-next, .nuka-slider-btn-prev {
    display: none;
  }
}

.bg-gray {
  background: #F6F6F6;
}

.border-bottom-header-mobile {
  border-bottom: 1px solid #EDEEF0;
}

.location-picker {
  border: 1px solid #999;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.3);
}

.custom-radio-2 {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #222222;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    background: #fff;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '\f00c';
    font-weight: 900;
    width: 18px;
    height: 18px;
    background: #09B1BA;
    color: #FFFFFF;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.badge-number {
  display: inline-block;
  background: #fff;
  border-radius: 9px;
  padding: 3px 5px;
  line-height: 1;
  color: #09B1BA;
  font-size: 11px;
  font-weight: 500;

  &.bg-primary {
    background: #09B1BA;
    color: #ffffff;
  }
}
