@import "./_vars";

.is-mobile {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $body-color;
  h1 {
    font: {
      family: Roboto;
      style: normal;
      weight: 500;
      size: 24px;
    }
    line-height: 115.69%;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 20px;
    color: #0D2B28;
  }
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $body-color;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
  }
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
  }
  p {
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 14px;
    }
    line-height: 115.69%;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(13, 43, 40, 0.74);
  }
  p.text-active {
    color: #09B1BA;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  span.text-active {
    color: #09B1BA;
    font-weight: 500;
  }
  .container {
    padding: {
      left: 18px;
      right: 18px;
    }
  }
  .btn-large {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $body-color;
  }
  .btn-small {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $body-color;
  }
  .product-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $body-color;
  }
  .product-price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: $body-color;
  }
  .text-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $body-color;
  }
  .text-small {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: $body-color;
  }

  .btn {
    height: 48px;
    border-radius: 4px;
    line-height: 1;
    font : {
      family: Roboto;
      style: normal;
      weight: 500;
      size: 18px;
    }
    line-height: 137.19%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #F6FDFD;
  } 
  .btn-primary {
    color: #ffffff;
    background: #09B1BA;
    border-color: #09B1BA;
    &:disabled {
     background: #9B9B9B;
     border-color: #9B9B9B;
    }
  }
  .btn-outline {
    border: 1px solid $body-color;
    &:disabled {
      border-color: #ECEBED;
      color: #ECEBED;
    }
  }
  .btn-default {
    border: none;
    background: #fff;
    color: $theme-primary-color;
    &:disabled {
      color: #ECEBED;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 14px;
    }
    line-height: 137.19%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: rgba(13, 43, 40, 0.74);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 14px;
    }
    line-height: 137.19%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: rgba(13, 43, 40, 0.74);
  }
  :-ms-input-placeholder { /* IE 10+ */
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 14px;
    }
    line-height: 137.19%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: rgba(13, 43, 40, 0.74);
  }
  :-moz-placeholder { /* Firefox 18- */
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 14px;
    }
    line-height: 137.19%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: rgba(13, 43, 40, 0.74);
  }
}
