.star-rating {
  display: inline-block;
  &.disabled {
    i {
      cursor: default;
    }
  }
  i {
    color: #b2bec3;
    margin: 0 2px;
    cursor: pointer;
    &.active {
      color: #FFBA49;
    }
  }
}