.stats-chart {
  .chart-label {
    font-weight: 500;
    font-size: 1.125rem;
  }
  .chart-content {
    position: relative;
  }
  .chart-time-select {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 100;
    .btn {
      color: #000 !important;
      padding: 0.4rem 0.6rem;
      &.active {
        background: #ccc;
      }
    }
  }
}
