@import "../../../../assets/css/_vars";

.product-images-viewer-desktop {
  display: flex;
  padding: 0 5px;
  .main-image {
    width: calc(100% - 79px);
    margin-left: 15px;
    position: relative;
    .slick-slider {
      &.slick-dotted {
        margin-bottom: 0;
      }
    }
    .show {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .slick-list {
        width: 100%;
        height: 100%;
        .slick-track {
          height: 100%;
          div {
            height: 100%;
            img {
              max-height: 100%;
            }
          }
        }
      }
    }
    .item {
      display: flex !important;
      justify-content: center;
      align-items: center;
      background: #fefefe no-repeat center center;
      background-size: contain;
    }
    .slick-arrow {
    }
    .slick-prev, .slick-next {
      z-index: 2;
      height: 100%;
      width: 40px;
      text-align: center;
      opacity: 0.3;
      &:before {
        margin-left: 10px;
      }
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      right: 0;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>");
      }
    }
    .slick-prev {
      left: 0;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>");
      }
    }
  }
  .small-img {
    width: 79px;
    position: relative;
    padding: 20px 0;
    .slick-list {
      .slick-slide {
        padding: 3px;
        margin-bottom: 5px;
        .item {
          cursor: pointer;
          background: #fefefe no-repeat center center;
          background-size: contain;
          padding-bottom: 100%;
        }
      }
      .slick-current {
        background-color: transparent;
        border: 1px solid #09B1BA;
        width: 79px;
        box-sizing: border-box;

      }
    }
    .slick-arrow {
      background-repeat: no-repeat;
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-size: contain;
      border: 0;
      overflow: hidden;
      text-indent: 1000%;
      background-color: transparent;
      left: 50%;
      margin-left: -15px;
    }
    .slider .slick-next:before,.slider .slick-prev:before {
      display: none;
    }
    .slick-prev {
      position: absolute;
      top: -10px;
      z-index: 2;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='10px' viewBox='0 0 15 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolyline id='Path-2' stroke='%23000000' stroke-width='2' transform='translate(7.500000, 5.611111) rotate(-90.000000) translate(-7.500000, -5.611111) ' points='4 -1 11 5.81147927 4 12.2222222'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    }

    .slick-next {
      position: absolute;
      top: calc(100% + 12px);
      z-index: 2;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='10px' viewBox='0 0 15 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolyline id='Path-2' stroke='%23000000' stroke-width='2' transform='translate(7.500000, 4.611111) rotate(-270.000000) translate(-7.500000, -4.611111) ' points='4 -2 11 4.81147927 4 11.2222222'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    }
  }
}


.product-images-viewer {
  padding: 0 10px;
  .main-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    .item-current {
      width: 29px!important;
      height: 18px!important;
      position: absolute;
      right: 19px;
      bottom: 21px;
      background: #DBDFDF; //design: rgba(13, 43, 40, 0.15)
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      span {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #0D2B28;
      }
    }
    .slick-slider {
      &.slick-dotted {
        margin-bottom: 0;
      }
    }
    .show {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .slick-list {
        width: 100%;
        height: 100%;
        .slick-track {
          height: 100%;
          div {
            height: 100%;
            img {
              max-height: 100%;
            }
          }
        }
      }
    }
    .item {
      display: flex !important;
      justify-content: center;
      align-items: center;
      background: #fefefe no-repeat center center;
      background-size: contain;
      position: relative;
      
    }
    .slick-prev, .slick-next {
      z-index: 2;
      height: 100%;
      width: 40px;
      text-align: center;
      opacity: 0.3;
      &:before {
        margin-left: 10px;
      }
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      right: 0;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>");
      }
    }
    .slick-prev {
      left: 0;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>");
      }
    }
  }
  .small-img {
    width: 100%;
    margin-top: 10px;
    position: relative;
    .slick-list {
      .slick-slide {
        padding: 3px;
        .item {
          cursor: pointer;
          background: #fefefe no-repeat center center;
          background-size: contain;
          padding-bottom: 100%;
        }
      }
      .slick-current {
        background-color: #09B1BA;
      }
    }
  }
}

.is-mobile {
  .product-images-viewer {
    padding: 0;
    .slick-dots {
      display: none !important;
    }
  }
}
