.title-mobile {
  flex: 1;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 137.19%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #0D2B28;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.pr-30 {
    padding-right: 30px;
  }
}
