.edit-group-page {
  .tab-content {
    padding: 15px 15px 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }
}