.manage-group {
  padding-top: 1rem;
  .group-stats {
    margin: 0 -10px 20px;
    .stats-card-wrap {
      float: left;
      width: 25%;
      padding: 0 10px;
    }
  }
  .group-actions {
    margin-bottom: 20px;
    .action-menu {
      margin-bottom: -10px;
    }
    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      display: inline-block;
    }
  }
}

.table-new-members {
  border-radius: 4px;
  thead {
    tr {
      th {
        &:first-child {
          border-top-left-radius: 4px;
        }
      }
    }
  }
}

.is-mobile {
  .manage-group {
    .group-stats {
      margin-left: -5px;
      margin-right: -5px;
      .stats-card-wrap {
        width: 50%;
        padding: 0 5px;
        .stats-card {
          margin-bottom: 10px;
        }
      }
    }
  }
}
