@import "../../../assets/css/_vars";

.flash-sale-page {
  .count-down-container {
    background: #09B1BA;
    padding: 7px 0;
    margin: 15px 0px 0px;
    border-radius: 12px 12px 0 0;
    text-align: center;
    display: flex;
    position: relative;
    h3 {
      margin: 0;
      padding-left: 40px;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url(publicUrl('/assets/images/icons/icon-flash-sale.svg')) no-repeat center center;
      background-size: contain;
      position: absolute;
      top: -5px;
      left: -15px;
    }
    .count-down {
      position: absolute;
      left: 43.5%;
    }
  }
  .event-description {

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.is-mobile{
  .flash-sale-page {
    
  }
}