@import "./../../../assets/css/_vars";

.group-faq {
  padding: 20px 60px;
  .title {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .faqs {
    .card {
      box-shadow: 0 4px 15px 0 rgba(79,35,35,.1);
      margin-bottom: 20px;
      border: 1px solid #efe7e7;
      padding: 18px 24px;
      .faq {
        position: relative;
        background: #FFFFFF;
        border: none;
        text-align: left;
        color: #333;
        font-weight: 500;
        padding: 0;
        border-radius: 0;
        transition: all 0.4s ease-in-out;
        &[aria-expanded='true'] {
          margin-bottom: 10px;
          transition: all 0.4s ease-in-out;
          &:before {
            content: "\f106";
          }
        }
        &:before {
          content: "\f107";
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.is-mobile {
  .group-faq {
    padding: 40px 0 !important;
    background: transparent;
    .btn-primary {
      box-shadow: none;
    }
    .faqs {
      .card {
        .faq {
          span {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}