@import "../../../assets/css/_vars";

.product-detail-page {
  background: #F6F6F6;
  h1 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: capitalize;
  }

  .product-row {
    display: flex;
    margin: 0 -10px;
    .col-images {
      -ms-flex: 0 50%;
      flex: 0 50%;
      max-width: 50%;
      position: relative;
    }
    .col-info {
      -ms-flex: 0 50%;
      flex: 0 50%;
      max-width: 50%;
    }
  }
  .product-section {
    padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
    .section-title {
      font-weight: 400;
      background: #F6F6F6;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 15px 12px 15px;
      h2 {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0;
      }
      .view-all {

      }
    }
  }
  .product-overview-section {
    padding: 10px 0;
    background: #ffffff;
  }
  .product-features-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    td, th {
      border-bottom: .4px solid #dadada;
      padding: 20px 20px;
    }
    tr:last-child td, tr:last-child th {
      border-bottom: none;
      padding-bottom: 0;
    }
    th {
      width: 25%;
      font-weight: 700;
      white-space: nowrap;
    }
    td {
      width: 75%;
    }
    a {
      color: #09B1BA;
    }
  }

  .product-shop {
    padding-top: 40px;
    padding-bottom: 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.15);
  }
  .product-features {
    margin-bottom: 40px;
  }
  .product-description {
    margin-bottom: 40px;
    position: relative;
    .section-content {
      // max-height: 550px;
      overflow: hidden;
      p {
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #4C6260;
        letter-spacing: 0;
      }
    }
    .--show-detail {
      max-height: none !important;
    }
    .show-detail {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 72px;
      padding: 15px 10px;
      background: linear-gradient(179.61deg, rgba(255, 255, 255, 0.15) -21.87%, #FFFFFF 58.97%);
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      -webkit-justify-content: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #09B1BA;
      span {
        cursor: pointer;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
  .comment-section {
  }
}


.is-mobile {
  .product-detail {
    .product-detail-header-mb {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99999;
      height: 66px;
      display: flex;
      align-items: center;
      padding-right: 32px;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(13, 43, 40, 0.03);
      .icon-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        .cart-icon-mobile {
          margin: 4px 37px 0 22px;
        }
      }
    }
    .product-detail-page {
      margin-top: 66px;
      &.common-page {
        padding-bottom: 0;
      }
      h1 {
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #0D2B28;
      }
  
      .product-row {
        display: block;
        margin: 0 -10px;
        .col-images {
          width: 100%;
          max-width: 100%;
        }
        .col-info {
          width: 100%;
          max-width: 100%;
        }
        .col-contact {
          width: 100%;
          max-width: 100%;
        }
      }
  
      .product-section {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        .section-title {
          background: #F6F6F6;
          border: none;
          padding: 0 18px;
          h2 {
            height: 48px;
            line-height: 48px;
            border: none;
            font-size: 14px;
            margin: 0;
            padding: 0;
            color: #9B9B9B;
            font-weight: 500;
          }
        }
        .section-content {
          padding-left: 18px;
          padding-right: 18px;
        }
      }
  
      .product-main-info-wrapper {
        position: relative;
        .product-main-info {
          max-height: 580px;
          overflow: hidden;
        }
        &.--show-detail {
          .product-main-info {
            max-height: none;
          }
        }
        .show-detail {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          height: 72px;
          text-align: center;
          padding: 15px 10px;
          font-weight: 500;
          color: #09B1BA;
          background: linear-gradient(179.09deg, rgba(255, 255, 255, 0.15) -21.87%, #FFFFFF 58.97%);
          display: flex;
          align-items: flex-end;
          justify-content: center;
          font-size: 14px;
          line-height: 18px;
        }
      }
  
      .shop-info {
        .avatar {
          border-radius: 18px;
        }
      }
  
      .product-features {
        margin-bottom: 0;
        .section-title {
          margin-bottom: 0;
        }
        .entry-description {
          margin-bottom: 0;
          .item {
            padding-left: 19px;
          }
          .item:last-child {
            padding-bottom: 12px;
          }
        }
      }
      .product-description {
        margin-bottom: 0;
      }
    }
    .viewed-section {
      .container {
        padding-right: 0;
        .section-heading {
          padding-right: 18px;
        }
        .product-items {
          flex-wrap: nowrap;
          overflow-x: auto;
          .product-item-wrapper {
            margin-bottom: 0;
            .product-item {
              background-color: #ffffff;
              .product-text {
                border: none;
                padding-bottom: 0!important;
              }
            }
          }
        }
      }
    }
    .other-products:last-child {
      padding-bottom: 50px;
    }
  }
}