.input-spin {
  width: 115px;
  display: inline-block;
  .input-group {
    input, button {
      padding: 0.15rem !important;
      text-align: center;
      height: 36px;
      border-color: #DBDBDB !important;
      outline: none !important;
      box-shadow: none !important;
    }
    button {
      border: 1px solid #DBDBDB;
      cursor: pointer;
      outline: none !important;
      width: 36px;
      color: #C4C4C4
    }
    input {
      border: 1px solid #DBDBDB;
      font-weight: 600;
      color: #09B1BA;
    }
    .input-group-prepend .btn {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
    .input-group-append .btn {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }

  &.disabled {
    button, input {
      background: #f0f0f0;
      pointer-events: none;
    }
  }
}
