.product-list-filter {
  .header-mobile {
    background: transparent!important;
    .header-icon {
      line-height: 26px;
    }
    .title-mobile {
      text-align: left;
      margin-left: 10px;
    }
  }

  .list-filter-content {
    padding: 16px;
    .filter-box {
      margin-bottom: 24px;
      &__title {
        color: #9b9b9b;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      &__content {
        background: #FFFFFF;
        padding: 24px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        .list-keyword {
          display: flex;
          flex-wrap: wrap;
          li {
            border: 1px solid #e6edf5;
            border-radius: 14px;
            padding: 6px 15px;
            margin: 8px;
            color: #9b9b9b;
            &.active {
              color: #09B1BA;
            }
          }
        }
        .checkbox-list {
          display: flex;
          flex-wrap: wrap;
          .checkbox-item {
            width: 50%;
            flex: 0 0 50%;
          }
        }
      }
    }
  }
  .actions-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px 12px 0px 0px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      padding: 10px 32px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
    }
    .cancel-btn {
      border: 1px solid #222222;
    }

    .apply-btn {
      color: #FFFFFF;
      margin-left: 20px;
    }
  }
}