@import "../../../assets/css/_vars";
@import "../../../assets/css/_media";

.header-mobile-old {
  height: 52px;
  background: $theme-primary-color;
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1040;
  .menu-toggle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
  }
  .search-container {
    flex: 1;
    background-color: #ffffff;
    position: relative;
    border-radius: 3px;
    .search-icon {
      position: absolute;
      top: 0;
      left: 10px;
      line-height: 32px;
      z-index: 1;
      color: #cccccc;
    }
    input {
      width: 100%;
      height: 32px;
      padding-left: 38px;
      border: none;
      outline: none !important;
      background: transparent;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cccccc;
        opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #cccccc;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #cccccc;
      }
    }
  }
  .cart-container {
    width: 32px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
  }
}