@import "../../../assets/css/_vars";

.menu-mobile-container {
  position: fixed;
  z-index: 1070;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }

  .menu-mobile {
    position: relative;
    z-index: 2;
    width: 288px;
    height: calc(100% + 150px);
    padding-bottom: 150px;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3);
    transform: translate3d(-100%, 0px, 0px);
    transition-property: transform;
    transition-duration: 0.3s;
  }

  .menu-mobile-backdrop {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    bottom: -150px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  &.visible {
    .menu-mobile {
      transform: translate3d(0px, 0px, 0px);
    }
    .menu-mobile-backdrop {
      opacity: 1;
    }
  }
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  .menu-mobile-header {
    height: 60px;
    padding: 10px 15px;
    background: $theme-primary-color;
    display: flex;
    .account-info {
      flex: 1;
      margin-left: 15px;
      color: #ffffff;
      .login-link {
        color: #ffffff;
        font-weight: 500;
      }
      p {
        font-size: 0.8125rem;
        margin: 0;
      }
    }
  }
  .menu-mobile-content {
    flex: 1;
    overflow-y: auto;
  }

  .nav-mobile {
    padding: 15px;
    li {
      a {
        color: #000;
        display: block;
        line-height: 50px;
        i {
          display: inline-block;
          width: 50px;
          text-align: center;
          color: #666;
        }
      }
    }
  }

  .contact-info {
    border-top: 1px solid #e0e0e0;
    padding: 15px;
    label {
      text-transform: uppercase;
      color: #666;
    }
    p {
      margin: 0;
      line-height: 40px;
      color: #000;
    }
  }

  .list-link {
    border-top: 1px solid #e0e0e0;
    padding: 15px;
    label {
      text-transform: uppercase;
      color: #666;
    }
    ul {
      li {
        a {
          color: #000;
          display: block;
          line-height: 40px;
        }
      }
    }
  }
}
