@import "../../../../assets/css/_vars";
.product-contact-info {
  width: 100%;
  padding: 24px;
  background: #FFFFFF;
  .contact-box {
    margin-bottom: 20px;
    .box-header {
      text-align: center;
      padding: 10px 12px;
      background: #162d54;
      h6 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
    .box-body {
      padding: 10px 0;
    }
    .box-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn {
        padding: 0.3rem 0.8rem;
      }
    }
  }

  .statics {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    background-color: #efefef;
    margin-bottom: 10px;
    .img {
      -ms-flex: 0 0 97px;
      flex: 0 0 97px;
      max-width: 97px;
      a {
        display: block;
        position: relative;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .text {
      -ms-flex: 0 0 calc(100% - 97px);
      flex: 0 0 calc(100% - 97px);
      max-width: calc(100% - 97px);
      padding-left: 20px;
      p {
        margin-bottom: 0;
        strong {
          margin-left: 5px;
        }
      }
    }
  }

  .list-unstyled-shop {
    padding: 0;
    list-style: none;
    margin: 0 0 5px;
    li {
      position: relative;
      padding-left: 50px;
      &:not(:last-child) {
        border-bottom: 1px dotted #333333;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      i {
        position: absolute;
        top: 0;
        left: 15px;
      }
    }
  }

  .discount-code {
    li {
      border: 1px solid #d5d5d5;
      padding: 10px 12px;
      + li {
        margin-top: 1px;
      }
      h4 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0;
        span {
          font-size: 18px;
          margin-left: 17px;
        }
      }
      p {
        margin-bottom: 0;
        a {
          color: #09B1BA;
          font-size: 14px;
          font-style: italic;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

//  New style

  .store-info {
    display: flex;
    padding: 0 10px;
    .avatar-store {
      margin-right: 16px;
      .avatar {
        border-radius: 24px;
      }
    }
    .info-right {
      flex-grow: 2;
      .store-name {
        color: #09B1BA;
        font-size: 18px;
        font-weight: 600;
      }
      .store-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .store-col {

        }
        .store-row {
          padding: 5px 0;
          span {
            color: #9B9B9B;
          }
          strong {
            color: #222222;
          }
          a {
            font-size: 14px;
          }
        }
      }
      .shop-chat-icon {
        background: #09B1BA;
        color: #FFFFFF;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        border-radius: 50%;
        margin-right: 20px;
        a:hover {
          color: #FFFFFF!important;
        }
      }
    }
  }
  .red-color {
    color: #09B1BA;
  }
//  !End new style
}

.voucher-popover {
  pointer-events: none;
  .popover-header {
    background: $theme-primary-color-dark;
    color: #fff;
  }
  .popover-body {
    color: #000;
  }
  h3 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 15px 0 10px;
  }
  ul {
    padding-left: 18px;
    li {
      list-style: disc;
    }
  }
}
