@import "../../../../assets/css/_vars";
.is-mobile {
  .shop-info {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    .shop-avatar {
      margin-right: 14px;
    }
  }
  .shop-info-content {
    .shop-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #09B1BA;
      margin-bottom: 2px;
      padding-top: 0;
    }
    .shop-info-item {
      line-height: 22px;
      span {
        color: $neutral-color-2;
      }
    }
    .shop-chat-icon {
      position: absolute;
      right: 0px;
      top: 0px;
      .btn-chat-mobile {
        width: 88px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #09B1BA;
        border-radius: 4px;
        background-color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #09B1BA;
      }
    }
  }
  .list-unstyled-shop {
    li {
      padding-top: 2px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      position: relative;
      padding-left: 50px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      i {
        position: absolute;
        top: 0;
        left: 15px;
      }
    }
  }
}