$height: calc(100vh - 16.5rem); // height main content page

.header-mobile-categories {
  height: auto;
  padding: 16px 30px 10px 18px;
  // background-color: #F6F6F6;
  display: flex;
  justify-content: space-between;
  background-color: #F6F6F6;
  .search-box-mobile {
    width: 85%;
    padding: 0;
    margin: 0;
  }
}
.categories-page {

  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .categories-menu-sidebar {
    min-height: 100px;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 14px 0 0px 18px;
    background: #F6FDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    .category-item {
        min-width: 60px;
        margin-right: 22px;
        padding-bottom: 11px;
        position: relative;
        .nav-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            label {
                margin-bottom: 0;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: rgba(13, 43, 40, 0.74);
                margin-top: 10px;
            }
            &.active {
                ::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 3px;
                  bottom: 0;
                  left: 0;
                  background: #09B1BA;
                  border-radius: 2px;
                }
                label {
                  color: #09B1BA;
                }
                
            }
        }
    }
  }

  .categories-content {
    background: #F6F6F6;
    .tab-pane {
      height: $height;
      overflow: auto;
      padding-bottom: 1rem;
      padding-top: 5px;
      > .link-more {
        text-align: center;

        a {
          display: inline-block;
          margin: auto;
          padding: 6px 24px;
          border-radius: 4px;
          font-size: 12px;
          border: 1px solid #9B9B9B;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        }
      }
    }


    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 14px 15px 19px;

      h3 {
        max-width: 70%;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #0D2B28;
        margin-bottom: 0;
      }

      a {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #09B1BA;
      }
    }

    .sub-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: #F6F6F6;
      border-bottom: 1px solid #E7E6E6;
      padding: 0 6px 15px 17px;
      .product-grid {
        width: 100%;
        .advs {
          display: none;
        }
        .product-filter {
          display: none;
        }
        .no-items {
          display: none;
        }
      }
      .item {
        flex: 0 0 33.333%;
        width: 32%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 10px;

        img {
          display: block;
          margin: 0 auto;
          padding: 7px;
          border: 1px solid #EDEEF0;
          border-radius: 6px;
          width: 62px;
          height: 62px;
        }

        .name {
          font-size: 11px;
          text-align: center;
          padding: 0 8px;
          margin-top: 6px;
        }
      }
    }

  }

}

@media (min-width: 520px) {
  .categories-page {
    .categories-content {
      .sub-categories {
        .item {
          flex: 0 0 25%;
          width: 25%;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .categories-page {
    .categories-content {
      .sub-categories {
        .item {
          flex: 0 0 20%;
          width: 20%;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .categories-page {
    .categories-content {
      .sub-categories {
        .item {
          flex: 0 0 16.6666%;
          width: 16.6666%;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .categories-page {
    .categories-content {
      .sub-categories {
        .item {
          flex: 0 0 12.5%;
          width: 12.5%;
        }
      }
    }
  }
}

