.select-products-table {
  .product-image-wrapper {
    width: 120px;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .product-name {
    text-align: center;
  }
  tr {
    td {
      &:nth-child(2) {
        width: 145px;
      }
    }
  }
}
