.action-menu-item {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #333 !important;
  &:hover {
    color: #000 !important;
  }
  .action-icon {
    font-size: 28px;
    line-height: 54px;
    text-align: center;
  }
  .action-name {
    text-align: center;
    padding: 0 5px;
  }
}

.action-menu {
  margin: 0 -10px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .action-menu-item {
    float: left;
  }
}
