.post-images {
  display: flex;
  .post-image {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #fefefe no-repeat center center;
    background-size: cover;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      height: auto;
      opacity: 0;
      z-index: -1;
    }
    .has-more {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.3);
      span {
        font-size: 40px;
        color: #fff;
      }
    }
  }
}
