.group-page {
  .group-page-content {
    .section-heading {
      margin-top: 25px;
    }
    .btn-read-more {
      margin-top: 0;
    }
  }
}
.group-explore {
  padding: 10px;
  .group-list {
    margin: 0;
  }
  .group-item {
    width: calc(25% - 20px);
    margin: 10px;
  }
}
.is-mobile {
  .group-page {
    .header-mobile {
      margin-left: -16px;
      margin-right: -16px;
      background: #FFFFFF;
    }
  }
  .group-explore {
    padding: 10px 0;
    .group-item {
      width: calc(50% - 20px) !important;
      background: #ffffff;
      padding: 5px 5px 10px 5px;
      .group-avatar {
        height: 134px;
        border-radius: 4px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(179.87deg, rgba(0, 0, 0, 0) 34.03%, rgba(34, 34, 34, 0.84) 99.9%);
        }
        .group-name {
          font-size: 12px;
          line-height: 14px;
          position: absolute;
          bottom: 10px;
          left: 0;
          padding: 0 10px;
          span {
            color: #FFFFFF;
          }
        }
      }
      .join-group {
        text-align: center;
        padding-top: 10px;
        .btn {
          background: #09B1BA;
          color: #FFFFFF;
          text-transform: uppercase;
          font-size: 12px;
          padding: 8px 20px;
        }
      }
    }
  }
}