.category-list {
  padding: 0 !important;
  .widget-title {
    background: #162d54;
    color: #fff;
    padding: 10px 15px 10px 22px;
    margin: 0 !important;
    position: relative;
    &:before {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 13px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }
  li {
    position: relative;
    border-bottom: dashed 1px #dadada;
    padding: 8px 22px;
    &:last-child {
      border-bottom: none;
    }
  }
}
