@import "../../assets/css/_vars";

.alert-group {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1100;
  max-width: 500px;
  .alert {
    border-radius: 2px;
    margin-bottom: 3px;
    &.alert-success, &.alert-primary, &.alert-secondary, &.alert-danger {
      color: #ffffff;
      border: none;
      .close {
        color: inherit;
        font-weight: normal;
        opacity: 1;
      }
    }
    &.alert-success {
      background-color: #248528;
    }
    &.alert-danger {
      background-color: #e90000;
    }
    &.alert-primary {
      background-color: $theme-primary-color;
    }
    &.alert-secondary {
      background-color: $theme-secondary-color;
    }
    .close {
      outline: none !important;
    }
  }
}

.is-mobile {
  .alert-group {
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
    max-width: 100%;
    .alert {
      display: inline-block;
      pointer-events: visible;
    }
  }
}
