@import "../../../../assets/css/_vars";
  .price-filter {
    .widget-title {
      color: #9b9b9b;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .input-price {
      .row {
        &:last-child {
          margin-bottom: 0;
        }
        .col-6 {
          margin-bottom: 0.625rem;
          padding-left: 0.875rem;
          padding-right: 0.875rem;
          &:last-child {
            margin-bottom: 0;
          }
          &:first-child {
            &:before {
              content: "";
              display: block;
              width: 9px;
              height: 2px;
              position: absolute;
              right: -5px;
              top: 50%;
              margin-top: -1px;
              background-color: #b5b5b5;
            }
          }
        }
      }
      input[type=text] {
        border-color: #999;
        text-align: center;
      }
      .btn-choice {
        border-color: $theme-primary-color;
        background-color: transparent;
        color: $theme-primary-color;
        min-width: 100px;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
      }
      .actions {
        margin-top: 12px;
      }
    }
  }



.is-mobile {
  .product-filter-drawer {
    margin-top: 80px;
    .form-group {
      .filter-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #9B9B9B;
        margin-bottom: 16px;
        margin-left: -1px;
      }
      .product-filter-group {
        background: #F6FDFD;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 24px 19px 24px 22px;
        margin-bottom: 24px;
      }
      .price-filter {
        height: 88px;
        padding: 28px 29px 0;
        .MuiSlider-rail {
          height: 3px;
          background-color: #E7E6E6;
        }
        .MuiSlider-track {
          height: 3px;
          background-color: #09B1BA;
        }
        .MuiSlider-thumb {
          &:focus, &:hover, &:active {
            box-shadow: none;
            @media (hover: none) {
              box-shadow: none;
            }
          }
          width: 22px;
          height: 22px;
          background-color: #09B1BA;
          margin-top: -8.5px;
          margin-left: -11px;
          
          .MuiSlider-valueLabel {
            left: calc(-50% + 1px);
            top: -26px;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            transform: scale(1);
            letter-spacing: 0;
            >span {
              width: auto;
              height: 22px;
              background-color: #F6FDFD;
              transform: rotate(0);
              border-radius: 0;
              flex-wrap: nowrap;
              display: inline-flex;
              >span {
                color: #4C6260;
                transform: rotate(0);
                white-space: nowrap;
                text-align: center;
              }
            }
          }
        }
        .MuiSlider-mark {
          width: 22px;
          height: 22px;
          background-color: #F6FDFD;
          margin-top: -8.5px;
          margin-left: -11px;
          border: 2px solid #E7E6E6;
          border-radius: 50%;
        }
        .MuiSlider-markLabel {
          top: -8px;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: #4C6260;
        }
      }
      .feature-filter {
        padding-bottom: 8px;
        &.feature-keyword {
          padding-right: 11px;
          .feature-list {
            justify-content: flex-start;
            li {
              background: #F6FDFD;
              border: 1px solid #E7E6E6;
              box-sizing: border-box;
              border-radius: 4px;
              padding: 6px 14px;
              margin-right: 8px;
              margin-bottom: 16px;
              cursor: pointer;
              span {
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #9B9B9B;
              }
              &.active {
                border: 1px solid #09B1BA;
                span {
                  color: #09B1BA;
                }
              }
            }
          }
        }
        .feature-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          max-height: 160px;
          overflow-y: auto;
          &::-webkit-scrollbar {
            display: none;
          }
          &::-webkit-scrollbar-track {
            display: none;
          }
          &::-webkit-scrollbar-thumb {
            display: none;
          }
          // Custom Checkbox
          .feature-list-item {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            width: 46%;
            input[type="checkbox"] {
              margin-right: 16px;
              position: relative;
              width: 24px;
              height: 24px;
              border: 1px solid #E7E6E6;
              box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
              border-radius: 6px;
              appearance: none;
              outline: 0;
              cursor: pointer;
              &::before {
                position: absolute;
                content: '';
                display: block;
                top: 4.6px;
                left: 8px;
                width: 6px;
                height: 10px;
                border-style: solid;
                border-color: #ffffff;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                opacity: 0;
                border-radius: 2px;
              }
              &:checked {
                color: white;
                border-color: #09B1BA;
                background: #09B1BA;
                &::before {
                  opacity: 1;
                }
                &~label {
                  color: #09B1BA;
                }
              }
            }
            label {
              margin-bottom: 0;
              position: relative;
              cursor: pointer;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #4C6260;
              user-select: none;
            }
          }
          // End Custom Checkbox
        }
      }
      .submited {
        width: 100%;
        height: 94px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        background: #F6FDFD;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
        border-radius: 12px 12px 0px 0px;
        display: flex;
        justify-content: center;
        padding-top: 17px;
        .btn-filter {
          border-radius: 4px;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          height: 38px;
          &.reset {
            border: 1.5px solid #4C6260;
            background: #F6FDFD;
            padding: 10px 22px;
            color: #4C6260;
            margin-right: 27px;
          }
          &.submit {
            padding: 10px 30px;
            background: #09B1BA;
            color: #F6FDFD;
            border: none;
          }
        }
      }
    }
  }
}
