.is-mobile {
    .forgot-password {
        .description {
            line-height: 20px;
        }
        .form-group {
            display: flex;
            margin-bottom: 0;
            .icon {
                margin: 18px 18px 18px 0;
                display: none;
            }
        }
        .btn-primary {
            margin-top: 35px;
        }
        .text-center {
            position: fixed;
            margin: 0;
            bottom: 95px;
            width: calc(100% - 36px);
        }

        .forgot-alert {
            display: inline-block;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            padding-left: 11px;
            &.success {
                color: #09B1BA;
            }
            &.failed {
              color: #09B1BA;
            }
        }
    }
}