@import "../../assets/css/_vars";

.user-page {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875rem;
  .user-page-content {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .page-title {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      + .page-content {
        padding-top: 0 !important;
      }
      .action-group {
        display: flex;
        align-items: center;
        > * {
          margin-left: 12px;
        }
        .btn {
          height: 34px;
          padding: 0 12px;
          line-height: 34px;
          font-size: 0.875rem;
        }
      }
      h1 {
        font-size: 1rem;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: $theme-primary-color 2px solid;
      }
      .search-box {
        width: 100%;
        max-width: 200px;
        position: relative;
        input[type=text] {
          padding-right: 34px;
          height: 34px;
          line-height: 34px;
        }
        .search-icon {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 34px;
          height: 34px;
          padding: 0;
          line-height: 34px;
          text-align: center;
        }
      }
    }
    .page-content {
      padding: 15px;
      a {
        color: $theme-primary-color;
        &.btn-primary {
          color: #ffffff !important;
        }
      }
    }

    .form-section {
      margin-bottom: 15px;
    }
    .form-section-label {
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

.is-mobile {
  .user-page {
    padding-top: 0;
    .user-page-content {
      .page-title {
        display: block;
        padding-top: 5px;
        h1 {
          display: block;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          display: flex;
          align-items: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #0D2B28;
        }
        .action-group {
          > * {
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .search-box {
          max-width: none;
          flex: 1;
        }
      }
    }
  }
}