.select-products-modal {
  .search-box {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    input[type=text] {
      height: 34px;
      line-height: 34px;
      display: inline-block;
      max-width: 300px;
    }
    button {
      display: inline-block;
      height: 34px;
      line-height: 34px;
      padding: 0 10px;
      margin-left: 10px;
    }
  }
}
