.drawer {
  position: absolute;
  z-index: 10001;
  top: 0;
  left: auto;
  right: -301px;
  bottom: 0;
  transition: right 0.15s ease-in-out;
  width: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  &.opened {
    right: 0 !important;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  .drawer-header {
    position: relative;
    padding: 15px;
    h2 {
      margin: 0;
      padding: 0 0 5px;
      font-size: 1.25rem;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: #09B1BA 2px solid;
    }
    .close-button {
      font-weight: 600;
      font-size: 16px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
      color: #a0a0a0;
    }
  }

  .drawer-content {
    flex: 1;
    padding: 0 15px;
  }

  .drawer-footer {
    padding: 15px;
    .btn {
      margin-left: 10px;
    }
  }
}

.drawer-backdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity ease-in-out 350ms;
  &.closing {
    opacity: 0;
  }
}

.drawer-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}