.order-detail-page {
  .order-overview {
    display: flex;
    margin: 0 -4px;
    .card {
      flex: 1;
      margin: 0 4px;
      .card-body {
        padding: 12px;
        .card-title {
          font-size: 1rem;
          text-transform: uppercase;
          margin-bottom: 6px;
        }
      }
    }
  }
  .order-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    .btn {
      margin-right: 10px;
    }
  }
}

.is-mobile {
  .order-detail-page {
    .order-overview {
      width: 100%;
      display: block;
      .card {
        margin: 0 4px 20px;
        .card-body {
          .card-title {
            font-weight: 500;
          }
          .card-text {
            text-align: left;
            color: #3f3f3f;
          }
        }
      }
    }
    .order-actions {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
