@import "../../../../assets/css/_vars";

.is-mobile {
  .orders-page {
    margin-top: 71px;
    nav.nav.nav-tabs {
      color: $neutral-color-2;
      border-bottom: none;
      flex-wrap: nowrap;
      overflow-x: auto;
      .nav-link {
        white-space: nowrap;
        &:hover {
          border-color: transparent;
        }
      }
      .nav-link.active {
        color: #09B1BA;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        border: none;
        border-bottom: 2px solid #09B1BA;
      }
    }
    .tab-content {
      padding: 15px;
    }
    .list-orders {
      .order-item {
        display: flex;
        margin-bottom: 10px;
        .avatar-order {
          width: 64px;
          height: 64px;
          flex-basis: 64px;
          flex-shrink: 0;
          background: #fefefe no-repeat center center;
          background-size: contain;
          margin-right: 10px;
        }
        .overview-order {
          flex-grow: 1;
          .code-order {
            color: #000000;
            font-weight: 500;
          }
          .status-order {
            font-size: 13px;
          }
          .overview-order-bottom {
            .created-order {
              color: $neutral-color-2;
              font-size: 13px;
            }
            .float-right {
              float: right;
              .price-order {
                font-size: 13px;
                margin-right: 25px;
                color: #09B1BA;
                font-weight: 500;
              }
              .link-more {
                color: $neutral-color-2;
              }
            }

          }
        }
      }
    }

  }

}
