.is-mobile {
    .products-section {
        padding-left: 18px;
        .section-heading {
            display: block;
            .products-heading-category {
                display: flex;
                overflow-x: auto;
                margin-top: 8px;
                &.nav {
                    flex-wrap: nowrap;
                }
                .categorys-item {
                    max-height: 28px;
                    border: 1px solid #E7E6E6;
                    border-radius: 4px;
                    margin-right: 7px;
                    padding: 0px 30px 3px 9px;
                    white-space: nowrap;
                    .categorys-item-title {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        color: #9B9B9B;
                        &.nav-link {
                            display: inline-block;
                            padding: 0;
                        }
                        &.active {
                            color: #09B1BA;
                        }
                        span {
                            display: inline-block;
                            img {
                                margin-bottom: 2px;
                                width: 17px;
                            }
                        }
                    }
                }
            }
        }
        .section-inner {
            background-color: #f6f6f6;
            .product-items {
                padding-left: 0;
                padding-right: 5px;
                .product-item-wrapper {
                    margin-right: 12px;
                    margin-bottom: 15px;
                    max-width: calc((100% - 24px)/2);
                    // .product-image-wrapper {
                    //     background-size: cover;
                    // }
                    .item-price {
                        padding: 0;
                    }
                }
            }
            .product-grid {
                .product-filter {
                    display: none;
                }
                .advs {
                    display: none;  
                }
            }
        }
    }
}