.suggest-category-section {
  .suggest-items {
    display: flex;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
    background: #ffffff;
    .suggest-item {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
      .description {
        color: #9B9B9B;
        font-size: 11px;
        line-height: 13px;
      }
      .primary-product {
        height: 168px;
        padding: 16px;
      }
      .secondary-product {
        padding: 16px;
        border-right: 1px solid #f0f0f0;
      }
      &:last-child {
        .secondary-product {
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

.is-mobile {
  .suggest-category-section {
    .suggest-items {
      overflow: auto;
      .suggest-item {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}
