@import "../../../../assets/css/_vars";

.product-grid {
  .item-sort {
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding: 5px 0;

    .sort-title, .sort-list {
      display: inline-block;
    }

    .sort-list {
      li {
        display: inline-block;
        vertical-align: middle;

        &.active {
          a {
            background: #09B1BA;
            color: #FFFFFF;
            border-color: #09B1BA;
          }

          &:hover {
            a {
              color: #ffffff;
            }
          }
        }

        a {
          padding: 6px 16px;
          margin: 0 10px;
          border-radius: 14px;
          border: 1px solid #E6EDF5;
          display: inline-block;
          color: #9B9B9B;

          &:hover {
            color: #09B1BA;
          }
        }
      }

      .sort-by-price {
        width: 150px;
        padding: 5px 0;
        position: relative;
        cursor: pointer;
        margin-left: 10px;

        &:hover {
          .sort-by-dropdown {
            display: block;
          }
        }

        .sort-icon {
          margin-right: 6px;
        }
      }

      .sort-by-dropdown {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 20;
        background: #FFFFFF;
        width: auto;
        border-radius: 4px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

        li {
          width: 100%;
          padding: 6px;

          a {
            white-space: nowrap;
            padding-right: 20px;
          }

          &.active {
            a {
              color: #09B1BA;
              background: #FFFFFF;
              position: relative;

              &:after {
                position: absolute;
                font-family: "Font Awesome 5 Free";
                content: "\f00c";
                display: inline-block;
                font-weight: 900;
                font-size: 10px;
                right: 0;
                top: 8px;
              }
            }
          }
        }

        a {
          padding: 8px 10px;
          margin: 0;
          border-radius: 0;
          border: none;
          width: 100%;
        }
      }
    }
  }

  .product-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin: 0 -15px;

    .sort-by-price {
      position: relative;
      width: 160px;

      &:hover {
        .sort-by-dropdown {
          display: block;
        }
      }
    }

    .sort-by-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      z-index: 11;
      background: #FFFFFF;
      border-radius: 4px;
      padding: 10px;
      display: none;

      li {
        padding: 6px 30px 6px 6px;

        a {
          white-space: nowrap;
        }

        &.active {
          a {
            color: #09B1BA;
          }
        }
      }
    }
  }

  
}

.is-mobile {
.product-grid {
  background-color: #f6f6f6;
  .product-filter {
    padding: 0;
    margin: 0;
    background: #F6FDFD;
    height: 34px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    
    .sort-by-price {
      height: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
      .sort-by-dropdown {
        height: 100%;
        background: #F6FDFD;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: static;
        li {
          height: 100%;
          padding: 0;
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          ::after {
            content: '';
            width: 1px;
            height: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: #E7E6E6;
          }
          a {
            white-space: nowrap;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #4C6260;
            i.fa-filter {
              margin-right: 4px;
            }
            i.fa-sort {
              margin-left: 5px;
            }
          }
          &.active {
            a {
              color: #09B1BA;
            }
          }
        }
      }
    }
    
  }

  .filter-options {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: #F6F6F6;
    z-index: 9999999;
    padding: 0 18px 118px;
    overflow-y: auto;
    .filter-header {
      display: flex;
      align-items: center;
      padding: 22px 18px 12px 20px;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background: #F6F6F6;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
      z-index: 999999;
      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 137.19%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #0D2B28;
        margin-bottom: 0;
        margin-left: 20px;
      }
    }
  }
}

}
