.product-table {
  &.share-products-table {
    .share-price-col {
      min-width: 80px;
    }
    input[type=text] {
      width: 80px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}
