.is-mobile {
    .wallet-mobile {
        padding: 10px 18px;
        background: #F6F6F6;
        .wallets {
            background: #F6FDFD;
            box-shadow: 0px 4px 4px rgba(13, 43, 40, 0.03);
            border-radius: 4px;
            height: 50px;
            display: flex;
            .wallet-item {
                &.pay::after {
                content: '';
                width: 1px;
                height: 34px;
                background-color: #DEDEDE;
                position: absolute;
                top: 8px;
                right: 0;
                }
                width: 50%;
                margin-left: 15px;
                padding-top: 4px;
                position: relative;
                .wallet-title {
                display: flex;
                align-items: center;
                height: 26px;
                h5 {
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(13, 43, 40, 0.74);
                    margin-bottom: 0;
                    margin-left: 5px;
                }
                }
                .wallet-des {
                font-size: 10px;
                line-height: 12px;
                text-align: left;
                letter-spacing: 0.06em;
                color: #9B9B9B;
                margin-bottom: 0;
                }
            }
          }
    }
}