.product-list-page {
  .product-table {
    border: none !important;
    img {
      max-width: 50px;
      max-height: 50px;
    }
    td, th {
      vertical-align: middle;
      text-align: center;
    }
    tr {
      td:last-child {
        width: 100px;
      }
    }
    .product-image {
      float: left;
      margin-right: 10px;
    }
    .product-name {
      max-width: 250px;
      float: left;
    }
    .product-name-wrapper {
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 10px;
  }
}
