.product-table-rt {
  .product-info {
    width: 100%;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .product-image {
      float: left;
      width: 48px;
      padding-top: 48px; /* 1:1 Aspect Ratio */
      position: relative; /* If you want text inside of it */
      margin-right: 10px;
      .product-image-wrapper {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fefefe no-repeat center center;
        background-size: contain;
      }
    }
    .product-name {
      white-space: normal;
      color: #000 !important;
    }
  }
}
