.groups-section {
  .section-heading {
    .flex-wrap {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .section-inner {
    padding-bottom: 0 !important;
    display: flex;
  }
  .sub-title {
    padding-left: 40px;
    margin-bottom: 0;
    display: flex;
    .feature {
      display: inline-flex;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 13px;
      color: #222222;
      align-items: center;
      .fa-check-square {
        color: #09B1BA;
        margin-right: 5px;
      }
    }
  }
  .groups {
    display: flex;
  }
  .groups-image {
    position: relative;
    flex-basis: 25%;
    img {
      height: 100%;
      width: 100%;
    }
    .caption {
      position: absolute;
      z-index: 1;
      color: #fff;
      top: 15%;
      left: 26px;
      width: 60%;
      .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .size-xl {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 15px;
      }
      .sub-title {
        font-size: 12px;
        opacity: 0.8;
        padding-left: 0;
        line-height: 24px;
      }
    }
  }
  .group-items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 75%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
    margin-right: -2px;
    .group-item {
      -webkit-flex: 0 0 calc(25% - 20px);
      flex: 0 0 calc(25% - 20px);
      max-width: calc(25% - 20px);
      margin: 10px;
      padding: 6px;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      .group-item-wrapper {
        border: none;
        border-radius: 4px;
        position: relative;
        .group-avatar {
          border-radius: 3px
        }
        .group-name {
          span {
            color: #222222;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.is-mobile {
  .groups-section {
    background: #F6FDFD;
    .section-heading {
      margin-bottom: 10px;
      .flex-wrap {
        flex-grow: 0;
      }
    }
    .section-inner {
      padding-bottom: 0 !important;
      display: block;
      .sub-title {
        height: 41px;
        padding: 6px 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        background: #F6FDFD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
        .feature {
          display: inline-flex;
          padding: 0;
          align-items: center;
          justify-content: center;
          position: relative;
          height: 100%;
          border-right: 1px dashed #E7E6E6;
          p {
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            color: #4C6260;
            margin: 0 8px 0 7px;
            letter-spacing: 0;
            text-align: left;
          }
        }
        .feature:last-child {
          border: 0;
          p {
            margin-right: 0;
          }
        }
      }
      .groups {
        max-height: 306px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        .groups-image {
          width: calc((100% - 12px)/2);
          flex-basis: calc((100% - 12px)/2);
          img {
            width: 100%;
          }
          .groups-image-info {
            position: absolute;
            left: 16px;
            bottom: 30px;
            h4 {
              color: #4C6260;
              font-size: 14px;
              line-height: 16px;
              font-weight: 600;
              margin-bottom: 0;
              padding-right: 16px;
            }
            span {
              color: #9B9B9B;
              font-size: 11px;
              display: block;
            }
            button {
              border: none;
              background-color: #108484;
              padding: 4px 14px;
              font-size: 12px;
              color: #ffffff;
              border-radius: 8px;
              margin-top: 4px;
            }
          }
        }
        .group-items {
          display: flex;
          flex-wrap: nowrap;
          flex-basis: calc((100% - 12px)/2);
          flex-direction: column;
          padding: 0;
          width: calc((100% - 12px)/2);
          border-radius: 0;
          flex-grow: 0;
          background: #F6FDFD;
          margin: 0;
          overflow-y: scroll;
          .group-item {
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            margin-bottom: 16px;
            background: #F6FDFD;
            border-radius: 0;
            box-shadow: none;
            .group-item-wrapper {
              .group-avatar {
                border-radius: 4px;
                height: 105px;
                padding-bottom: 0;
                border-bottom: 0;
              }
            }
            .group-name {
              padding: 0;
              margin-top: 10px; 
              span {
                font-weight: 400;
                font-size: 12px;
                line-height: 136.69%;
                color: #0D2B28;
                height: auto;

                overflow: hidden;
                display: -webkit-box;  // cắt ngắn chuỗi
                -webkit-line-clamp: 1;  //giới hạn 2 dòng
                -webkit-box-orient: vertical;
              }
            }
            .group-members {
                font-weight: normal;
                font-size: 12px;
                line-height: 136.69%;
                padding-bottom: 0;
                color: #4C6260;
            }
          }
          .group-item:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .group-read-more {
      margin-top: 20px;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #09B1BA;
      display: flex;
      justify-content: flex-end;
    }
  }
}
