.bg-gray {
  background: #f4f4f4 !important;
}

.bg-red {
  background: #DC0C1F !important;
}

.bg-orange {
  background: #f7931e !important;
}

.bg-green {
  background: #008c44 !important;
}

.bg-blue {
  background: #09B1BA !important;
}

.bg-white {
  background: #fff !important;
}

.bg-primary {
  background: $theme-primary-color !important;
}

.bg-red-o {
  background: #DC0C1F !important;
}

.bg-or-o {
  background: #f7b70b !important;
}

.bg-blue-d {
  background: #09B1BA !important;
}

.bg-blue-o {
  background: #09B1BA !important;
}

.bg-green-o {
  background: #51b848 !important;
}

.text-red {
  color: #09B1BA !important;
}

.text-orange {
  color: #f7931e !important;
}

.text-blue {
  color: #1657c3 !important;
}

.text-green {
  color: #008c44 !important;
}

.text-primary {
  color: $theme-primary-color !important;
}

.text-secondary {
  color: $theme-secondary-color !important;
}

.text-black {
  color: #000 !important;
}

.is-mobile {
  .bg-mobile-white {
    background: #ffffff !important;
  }
}
.bg-red-m {
  background-color: #09B1BA;
}
.bg-black-m{
  background-color: #222222;
}
.bg-orange-light-m {
  background-color: #FE9870;
}
.bg-orange-m {
  background-color: #FF9417;
}
.bg-or-o-m {
  background-color: #f7b70b;
}
.bg-green-m {
  background-color: #0EAD69;
}
.bg-blue-o-m {
  background-color: #09B1BA ;
}
.bg-blue-m {
  background-color: #09B1BA;
}
.bg-purple-m {
  background-color: #09B1BA;
}
.bg-blue-sky-m {
  background-color: #09B1BA;
}
.bg-pink-m {
  background-color: #F96298;
}
.bg-blue-dark-m {
  background-color: #3B5998;
}
.bg-purple-dark-m {
  background-color: #2E294E;
}