.d-mobile-block,
.d-mobile-flex,
.d-mobile-inline,
.d-mobile-inline-block,
.d-mobile-inline-flex {
  display: none;
}

.is-mobile {
  .d-mobile-block {
    display: block;
  }
  .d-mobile-flex {
    display: flex;
  }
  .d-mobile-inline {
    display: inline;
  }
  .d-mobile-inline-block {
    display: inline-block;
  }
  .d-mobile-inline-flex {
    display: inline-flex;
  }

  .d-mobile-none {
    display: none;
  }
}


// Width
.w-80px {
  width: 80px;
}
.w-100px {
  width: 100px;
}
.w-120px {
  width: 120px;
}
.w-150px {
  width: 150px;
}
.w-180px {
  width: 180px;
}
.w-200px {
  width: 200px;
}
.w-250px {
  width: 250px;
}

