
.login-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  .action {
    margin: 0 0 25px;
    text-align: center;
    .btn-primary {
      width: 100%;
      // text-transform: uppercase;
    }
  }
}
.is-mobile {
  .login-form {
    padding: 20px 0;
    .form-group {
      background: #FFFFFF;
      border: 1px solid #E7E6E6;
      box-sizing: border-box;
      border-radius: 4px;
      padding-left: 11.47px;
      margin-bottom: 11px;
      .form-control {
        height: 50px;
        padding: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #222222;
        border: none;
        &:focus {
          box-shadow: none;
        }
      }
      label {
        font-size: 11px;
        line-height: 13px;
        color: #9B9B9B;
        margin-bottom: 0;
      };
    }
    .action {
      margin: 0 0 75px;
      text-align: center;
    }
    .others-login {
      font-size: 14px;
      line-height: 115.69%;
      text-align: center;
      letter-spacing: 0.06em;
      color: rgba(13, 43, 40, 0.74);
    } 
    .by-socials {
      margin-bottom: 35px;
      .btn {
        width: 105px;
        height: 50px;
        background: #FFFFFF;
        margin: 0 8px;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-left: 6.5px;
        margin-right: 6.5px;
      }
    }
    .color-black {
      color: #0D2B28;
    }
  }
}

