.other-products {
  .section-heading {
    padding: 0 18px;
    h2 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #0D2B28;
    }
    .products-read-more {
      font-weight: normal;
      font-size: 12px!important;
      line-height: 14px;
      color: #09B1BA!important;
    }
  }
  .section-inner {
    .product-items {
      padding: 18px 0;
      &.--slider {
        background: #FFFFFF;
        border-radius: 3px;
        padding: 15px 15px;
        .product-item-wrapper  {
          padding: 0 3px;
          .product-item {
            background-color: #FFFFFF!important;
          }
        }
        .slider-control-bottomcenter {
          display: none;
        }
      }
    }
  }
}

.is-mobile {
  .other-products {
    .section-inner {
      padding-left: 18px;
    }
  }
}