.common-table {
  .rt-thead {
    &.-header {
      box-shadow: none;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background: #f0f0f0;
    }
    .rt-th {
      font-weight: bold;
      padding: 8px 5px;
    }
  }
  .rt-tbody {
    .rt-tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
      .rt-td[role=gridcell] {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-height: 50px;
        padding: 8px 10px;
        &.text-right {
          justify-content: flex-end;
        }
        &.text-center {
          justify-content: center;
        }
      }
    }
  }
  .rt-thead .rt-th,
  .rt-thead .rt-td,
  .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.015);
    white-space: normal;
  }
  .-pagination {
    box-shadow: none;
    border-top-width: 1px;
  }
  .action-buttons {
    text-align: center;
    a {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .custom-cell-with-title {
    .cell-title {
      font-size: 10px;
      font-weight: 700;
      color: #3d3d3d;
      text-transform: uppercase;
      opacity: .4;
      letter-spacing: .67px;
      line-height: 11px;
    }
    .cell-content {
      font-size: 14px;
      font-weight: 400;
      flex-basis: 100%;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}
