.avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  img {
    width: 100%;
    height: 100%;
  }
  .avatar-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &:hover {
    .avatar-overlay {
      display: flex;
    }
  }
}
