@import "../../assets/css/_vars";

.product-item {
  background: #fff;
  text-align: center;
  padding: 15px;
  &:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .product-image {
    display: block;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    .product-image-wrapper {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fefefe no-repeat center center;
      background-size: contain;
    }
    .sale {
      position: absolute;
      z-index: 2;
      top: 8px;
      left: 8px;
    }
  }
  .product-favorite {
    display: inline-flex;
    box-shadow: none;
    margin-left: auto;
    margin-right: 2px;
    align-items: center;
    width: auto;
    height: auto;
    .likes-count {
      display: inline-block;
      margin-left: 5px;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #9B9B9B;
    }
    a {
      line-height: 0;
    }
    i {
      font-size: 13.6px;
    }
  }
  .product-text {
    padding: 10px 15px;
    position: relative;
    .product-name {
      font-size: inherit;
      color: #000;
      display: block;
      height: 2.78em;
      line-height: 1.428;
      font-weight: 500;
      text-align: left;

      overflow: hidden;
      display: -webkit-box;  // cắt ngắn chuỗi
      -webkit-line-clamp: 2;  //giới hạn 2 dòng
      -webkit-box-orient: vertical;
      // text-overflow: ellipsis;
    }
    p {
      margin-bottom: 0;
      font-size: 0.875rem;
      text-align: left;
    }
  }

  .star-rating {
    text-align: center;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .item-price {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;

    .new-price {
      font-weight: normal;
      font-size: 14px;
      color: #222222;
    }
    .old-price {
      margin-top: 5px;
      font-size: 14px;
    }
  }
  .item-qty {
    background: rgba(1, 66, 148, 0.1);
    border-radius: 7px;
    color: #09B1BA;
    font-size: 11px;
    margin-top: 4px;
    padding: 2px 0;
    font-weight: 500;
    &.gray {
      background: rgba(151, 151, 151, 0.2);
      color: #979797;
    }
  }
}

.row {
  &.product-items {
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    .product-item-wrapper {
      -webkit-flex: 0 0 16.66666%;
      flex: 0 0 16.66666%;
      max-width: 16.66666%;
      padding: 5px;
      &.four-items-per-row {
        -webkit-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
}

.is-mobile {
  .row {
    &.product-items {
      border-radius: 0;
      .product-item-wrapper {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        padding: 0;
        margin: 0;
        margin-right: 12px;
        margin-bottom: 15px;
        max-width: calc((100% - 24px)/2);
        min-width: 40%;
    }
  }
}

  .product-item {
    background-color: #F6F6F6;
    padding: 0;
    margin: 0;
    .sale {
      width: 31px;
      height: 31px;
      background: #09B1BA;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #F6FDFD;
      position: absolute;
      z-index: 10;
      top: 8px;
      left: 8px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    h3 {
      line-height: 16px;
      font-weight: 500;
    }
      .old-price {
      display: none;
    }
    .product-text {
      padding: 0;
      .product-name {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: rgba(13, 43, 40, 0.74);
      }
      .item-price {
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        img {
          margin-right: 4px;
        }
        .new-price {
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          color: #0D2B28;
        }
      }
    }
    .product-image {
      .product-image-wrapper {
        border-radius: 0;
      }
    }
    .product-favorite {
      display: inline-flex;
      box-shadow: none;
      margin-left: auto;
      margin-right: 2px;
      align-items: center;
      width: auto;
      height: auto;
      background-color: #f6f6f6;
      .likes-count {
        display: inline-block;
        margin-left: 5px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #9B9B9B;
      }
      a {
        line-height: 0;
      }
      i {
        font-size: 13.6px;
      }
    }
  }
}
