.shop-info {
  border-radius: 6px 6px 0 0!important;
  .shop-banners {
    margin: -15px -15px 20px -15px;
    &__slider {
      .slider-item {
        width: 100%;
        height: 320px;
        background-color: hsl(233, 8%, 62%);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  .shop-row {
    display: flex;
  }
  .shop-col {
    flex: 1;
    display: flex;
    border-right: 1px solid #e0e0e0;
    padding: 0 10px;
    &:last-child {
      border-right: none;
    }
    &:first-child {
      flex-basis: 180px;
    }
  }
  .shop-avatar {
    margin-right: 26px;
  }

  .shop-summary-info {
    flex-grow: 2;
    .shop-name {
      padding-top: 5px;
      h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #09B1BA;
      }
    }
    .join-time, .shop-product-total{
      margin-bottom: 8px;
      color: #333333;
      i {
        margin-right: 2px;
        color: #09B1BA;
      }
    }
    p, span {
      font-size: 0.875rem;
    }
    .shop-rating {
      span {
        font-style: italic;
        font-size: 0.875rem;
        color: #9B9B9B;
      }
    }
    .actions {
      text-align: center;
      img {
        width: 52px;
        height: 52px;
      }
    }
  }

  .shop-property {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .p-icon {
      color: #6e6e6e;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
    span {
      font-style: italic;
    }
    .text-small {
      padding: 5px;
      font-size: 0.75rem;
      font-style: italic;
      color: #9B9B9B;
    }
  }
}
.is-mobile {
  .shop-info {
    .shop-banners {
      &__slider {
        .slider-item {
          height: 160px;
        }
      }
    }
    .shop-row {
      display: grid;
      grid-template-columns: 1fr;

      .shop-col {
        border-right: 0;
        padding: 10px 0;
        .shop-property {
          align-items: flex-start;
          font-size: 12px;
        }
      }
    }
  }
}