.group-header {
  width: 100%;
  height: auto;
  background: #fff no-repeat center center;
  background-size: cover;
  position: relative;

  .__slider {
    .slider-item {
      width: 100%;
      height: 320px;
      background-color: hsl(233, 8%, 62%);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .group-avatar {
    width: 192px;
    height: 192px;
    position: absolute;
    left: 20px;
    bottom: -3px;
    z-index: 1;
    background: #ccc no-repeat center center;
    background-size: cover;
    border: 3px solid #fff;
  }

  .group-name {
    position: absolute;
    left: 230px;
    bottom: 15px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
  }
}

.is-mobile {
  .group-header {
    .group-avatar {
      width: 80px;
      height: 80px;
      left: 10px;
    }

    .group-name {
      left: 100px;
      bottom: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }
  }
}
