.cart-table {
  .t-head, .t-body, .t-foot {
    padding: 5px;
    margin-bottom: 15px;
    background: #ffffff;
  }
  .t-head {
    font-weight: 500;
    text-transform: uppercase;
    color: #09B1BA;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
  }
  .t-body {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }
  .t-foot {
    .t-row {
      align-items: center;
      .c-foot-name {
        flex: 1;
      }
      .c-sub-total {
        strong {
          font-size: 20px;
        }
      }
    }
  }
  .t-row {
    display: flex;
    div[class^="c-"] {
      padding: 10px;
    }
    .c-check {
      display: flex;
      justify-content: center;
      align-items: center;
      .check-box {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        box-sizing: border-box;
        box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
      }
    }
    .c-name {
      flex: 1;
      display: flex;
      a {
        color: #1C1414;
        font-size: 14px;
      }
      .p-avatar {
      }
      .p-name {
        flex: 1;
        padding-left: 10px;
      }
    }
    .c-price, .c-qty, .c-total, .c-action {
      width: 180px;
      text-align: center;
    }
    .c-price {
      text-align: right;
    }
    .c-action {
      width: 80px;
    }
    .c-shop {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #09B1BA;
      a:hover {
        color: #09B1BA;
      }
      img {
        width: 18px;
        height: auto;
        margin-left: 10px;
      }
    }
  }

  .p-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background: #fefefe no-repeat center center;
    background-size: contain;
  }
  .shop-header {
    border-bottom: 1px solid #EDEEF0;
  }
  .shop-products {
    padding: 10px 0;
    .price {
      font-size: 18px;
      line-height: 22px;
      color: #2C2E3F;
      font-weight: 500;
    }
    .old-price {
      font-size: 12px;
      color: #9b9b9b;
      text-decoration: line-through;
      padding: 8px 0;
    }
    .actions {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-right: 10px;
    }
    .action {
      width: 36px;
      height: 36px;
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #9B9B9B;
      border-radius: 50%;
      i {
        font-size: 16px;
      }
      i.fas {
        color: #09B1BA;
      }
      .product-favorite {
        .likes-count {
          margin-left: 5px;
        }
      }
    }
  }
}

.is-mobile {
  .cart-page {
    background: transparent !important;
    .container {
      padding: 0;
    }
  }
  .cart-table {
    .t-head {
      display: none;
    }
    .t-head, .t-body, .t-foot {
      box-shadow: none !important;
    }
    .t-row {
      display: block;
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .delete-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1rem;
        line-height: 1;
      }
    }
    .t-body {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .t-row {
        &:last-child {
          border-bottom: none;
        }
      }
    }
    [class^="c-"] {
      float: left;
      width: auto;
      display: none;
    }
    .c-name, .c-shop {
      width: 100%;
      display: block;
    }
    .c-name {
      padding-right: 25px !important;
      .p-image {
        float: left;
        width: 100px;
        height: 100px;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .input-spin {
        width: 100px;
        margin-top: 8px;
        .input-group {
          input, button {
            padding: 0.1rem !important;
            height: 30px;
          }
          button {
            width: 30px;
          }
        }
      }
    }
    .t-foot {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      .t-row {
        display: flex;
        justify-content: space-between;
        border: none;
        .c-checkout, .c-sub-total {
          display: block;
        }
      }
    }
  }
}
