@import "../../../assets/css/_vars";

.home-footer-mobile {
  background: #ebeced;
  padding: 15px;
  line-height: 1.6;
  p {
    margin-bottom: 0;
  }

  .ft-logo {
    margin-bottom: 10px;
    text-align: left;
    img {
      max-width: 250px;
    }
  }

  .company-info {
    margin-bottom: 10px;
    .fas {
      color: $theme-primary-color;
      display: inline-block;
      width: 1.25rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }

  .certificate {
    .cert-row {
      display: flex;
      .cert-info {
        width: 70%;
      }
      .cert-img {
        width: 30%;
        img {
          max-width: 100%;
        }
      }
    }
  }
}