.product-detail-footer {
  padding-bottom: 60px;
}
.product-detail-bottom-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  .btn-add, .btn-buy {
    height: 48px;
    width: 50%;
    line-height: 48px;
    text-align: center;
  }
}
