.is-mobile {
    .search-page {
       background-color: #F6F6F6; 
       margin-top: 71px;
       .container {
           padding-right: 6px;
           .product-grid {
               .item-sort {
                   border: none;
                   padding: 10px 0;
                   .sort-title {
                       font-size: 16px;
                   }
                   ul {
                       li a {
                           padding: 4px 10px;
                           margin: 10px 10px 0 0;
                           border: 1px solid #c9c8c8;
                           color: #818181;
                       }
                   }
               }
           }
       }
    }
}