
.group-landing-page {
  .intro {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .slogan-wrap {
      flex: 1;
      align-items: center;
      justify-content: space-around;
      display: flex;
      .slogan {
        padding: 15px;
        h2 {
          color: #09B1BA;
          font-weight: 500;
          padding-left: 150px;
        }
      }
      img {
        width: 150px;
      }
    }
  }
  .indicators {
    display: flex;
    margin-bottom: 40px;
    .indicator {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 60px;
      }
      h3 {
        font-size: 18px;
        padding-top: 10px;
      }
    }
  }
  .btn-wrap {
    min-width: 200px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    .btn {
      width: 180px;
      text-align: center;
      border-radius: 40px;
      text-transform: uppercase;
    }
  }
}
.is-mobile {
  .group-landing-page {
    background: transparent!important;
    padding-bottom: 0!important;
    .page-content {
      min-height: calc(100vh - 156px);
      margin-top: 15px;
      border-radius: 6px;
      background-color: #09B1BA;
      background-position: bottom ;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .wrapper {
      transform: translateY(72px);
    }
    .title {
      text-align: center;
      h3 {
        color: #FFFFFF;
      }
    }
    .title-sub {
      color: #FFFFFF;
      i {
        margin-right: 6px;
      }
    }
    .actions {
      margin-top: 72px;
      .btn {
        display: block;
        width: 272px;
        margin-bottom: 24px;
        padding: 16px 0;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 14px;
      }
      .action-bg-yellow {
        background: #FFBA49;
      }
      .action-bg-blue {
        background: #09B1BA;
      }
    }
  }
}