.register-group-form {
  .stepper-horizontal {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .input-group {
    input {
      border-radius: 0;
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .delete-link {
    margin-left: 10px;
  }
}
.is-mobile {
  .register-group-form {
    background: #F6F6F6;
    .stepper-horizontal {
      background: #F6F6F6;
      .md-step-title {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .form-submit {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      .btn {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        width: 154px;
        height: 48px;
        border-radius: 25px;
        box-shadow: 0 4px 8px rgba(151, 151, 151, 0.3);
        margin: 0;
      }
    }
    .step-1 {
      .form-group {
        background: #FFFFFF;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 10px 15px;
        input[type=text] {
          height: 26px;
          border: none;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: #2d2d2d;
          padding: 0;
          &:focus {
            box-shadow: none;
          }
        }
        label {
          font-size: 14px;
          line-height: 20px;
          color: #9B9B9B;
          margin-bottom: 8px;
        }
        textarea {
          border: none;
          padding: 0;
          font-size: 14px;
          line-height: 20px;
          &:focus {
            box-shadow: none;
          }
        }
      }
      .wrapper-radio {
        .form-group {
          background: transparent;
          box-shadow: none;
          padding: 0;
          label  {
            color: #000000;
            font-size: 14px;
            line-height: 20px;
          }
        }
        .form-check {
          padding-left: 0;
          input[type="radio"]:checked,input[type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
          }
          [type="radio"]:checked + label,
          [type="radio"]:not(:checked) + label
          {
            position: relative;
            padding-left: 28px;
            padding-top: 2px;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            color: #222222;
          }
          [type="radio"]:checked + label:before,
          [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background: #FFFFFF;
            border: 1px solid #ECEBED;
            box-sizing: border-box;
            box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
            border-radius: 6px;
          }
          [type="radio"]:checked + label:after,
          [type="radio"]:not(:checked) + label:after {
            content: '\f00c';
            width: 20px;
            height: 20px;
            background: #09B1BA;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px;

            padding: 0 5px;

            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 11px;
            color: #FFFFFF;

            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
          [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
    .step-2 {
      .form-section {
        margin-bottom: 30px;
        .form-section-label {
          font-size: 14px;
          font-weight: 500;
          color: #222222;
          text-transform: uppercase;
        }
        .add-level-link {
          color: #09B1BA;
        }
      }
      .form-group {
        background: transparent;
        box-shadow: none;
        .wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .input-group {
            flex-basis: 100px;
            width: 100px;
            border: 0.4px solid #EDEEF0;
            box-sizing: border-box;
            border-radius: 6px;
            input {
              border-radius: 6px 0 0 6px;
              border: none;
              text-align: center;
              font-size: 14px;
              font-weight: 500;
              color: #222222;
              &:focus {
                box-shadow: none;
              }
            }
            .input-group-append {
              .input-group-text {
                background: #FFFFFF;
                border: none;
                border-radius: 0 6px 6px 0;
                font-size: 14px;
                font-weight: 500;
                color: #222222;
              }
            }
          }
        }
        label {
          margin-bottom: 0;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }
    }
    .register-completed {
      .form-submit {
        a {
          line-height: 26px;
        }
      }
    }
  }

}
sup {
  color: #09B1BA;
  top: -.1em
}