.group-item {
  width: 16.66%;
  float: left;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  .group-avatar {
    width: 100%;
    padding-bottom: 100%;
    background: #fff no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #f0f0f0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    .tags {
      position: absolute;
      top: 8px;
      right: 8px;
      max-width: calc(100% - 16px);
      .tag {
        margin-bottom: 8px;
        + .tag {
          margin-left: 8px;
        }
      }
    }
  }
  .group-name {
    padding: 8px 0 4px 0;
    span {
      display: block;
      height: 3em;
      line-height: 1.5em;
      overflow: hidden;
      color: #000;
      font-weight: 500;
    }
  }
  .group-members {
    font-size: 12px;
    line-height: 18px;
    color: #9B9B9B;
    padding-bottom: 8px;
  }
  &.horizontal {
    width: 100% !important;
    .group-item-wrapper {
      display: flex;
      padding: 0.875rem;
      border: none;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      .group-avatar {
        width: 84px;
        height: 84px;
        flex: 0 0 84px;
        padding: 0;
        margin-right: 0.875rem;
        border-radius: 4px;
      }
      .group-name {
        padding: 0;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        span {
          font-weight: bold;
          height: auto;
          max-height: 3em;
        }
      }
      .group-members {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        color: #999;
      }
    }
  }
}

.group-list {
  width: 100%;
  margin-left: -8px;
  margin-right: -8px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.is-mobile {
  .group-item {
    width: 50%;
  }
}
