@import "./../../../assets/css/_vars";

.shop-products {
  .nav-shop {
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    > ul {
      display: flex;

      > li {
        font-size: 16px;
        position: relative;

        a {
          display: inline-block;
          padding: 10px 16px;
        }

        &:not(:first-child) {
          &:hover, :focus, .active {
            a {
              color: #09B1BA !important;
            }
            &:before {
              position: absolute;
              display: block;
              bottom: 0;
              left: 0;
              content: "";
              width: 100%;
              height: 3px;
              background-color: #09B1BA;
            }
          }
        }

        &:first-child {
          position: relative;
          width: 124px;
          padding: 10px 16px;
          cursor: pointer;
          background-color: #09B1BA;
          color: #ffffff;

          span {
            position: relative;

            &:before {
             position: absolute;
              right: -20px;
              top: 0;
              display: inline-block;
              content: '\f078';
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              opacity: 1;
              transition: all ease-in-out 0.1s;
            }

            &:after {
              position: absolute;
              right: -20px;
              top: 0;
              display: inline-block;
              content: '\f077';
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              opacity: 0;
              transition: all ease-in-out 0.1s;
            }
          }

          &:hover,:focus, :focus-within {

            span {
              &:before {
                opacity: 0;
              }
              &:after {
                opacity: 1;
              }
            }

            > ul.categories {
              visibility: visible;
              opacity: 1;
              z-index: 999;
              transform: translateY(0);
              transition-delay: 0.2s , 0.1s, 0.3s ;
            }
          }
        }
      }
    }

    ul.categories {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: 0;
      top: 100%;
      width: 240px;
      transform: translateY(-3em);
      z-index: -1;

      background-color: #ffffff;
      color: #0b0b0b;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
      border-radius:  4px;

      transition: all 0.2s ease 0.1s, visibility 0.1s ease-in-out 0.3s, z-index 0s linear 0.01s;

      li {
        font-size: 14px;
      }
    }
  }

  .shop-section {
    margin: 1rem 0;

    &__title {
      display: flex;
      justify-content: space-between;
      padding: 0 6px;
      h3 {
        font-size: 1.25rem;
        margin-bottom: 0;
      }
    }
  }

  .product-grid {
    .item-sort {
      margin-bottom: 0;
      padding: 10px 6px;
    }
  }
}

.is-mobile {
  .shop-products {
    .nav-shop {
      margin: 0 -15px 15px;

      > ul {
        li {
          font-size: 14px;
        }
      }
    }

    .shop-section {
      margin: 1.5rem 0;
    }
  }
}
