.category-menu {
  border-top: 3px solid #09B1BA!important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #09B1BA !important;
  .category-name {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #09B1BA;
    img {
      width: 1rem;
      height: 1rem;
      vertical-align: -1px;
      margin-right: 0.25rem;
    }
  }

  .nav-left {
    padding-left: 1rem;
    li {
      position: relative;
      border-bottom: solid 1px #ebebec;
      padding: 10px 0 ;
      // &:before {
      //   content: '»';
      //   position: absolute;
      //   top: 3px;
      //   left: 0;
      // }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}