.is-mobile {
    .product-features {
        .entry-description {
            .item {
                .item-2 {
                    padding-left: 14px;
                    padding-right: 18px;
                }
            }
        }
    }
}