.upload-image {
  width: 100px;
  height: 100px;
  border: 1px dashed #cccccc;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #cccccc;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 50%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .edit-btn, .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    border: none;
    display: none;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #ffffff;
  }
  .edit-btn {
    right: 40px;
    color: #232f3e;
  }
  .delete-btn {
    color: #09B1BA;
  }
  &:hover {
    .edit-btn, .delete-btn {
      display: block;
    }
  }
  .info-message {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 80%;
  }
}
