
.is-mobile {
    .viewed-section {
        .container{
            padding-right: 0;
            .section-heading {
                padding-right: 18px;
            }
            .product-item-wrapper {
                max-width: 164px!important;
                margin-bottom: 0;
                .product-image-wrapper {
                    border-top-left-radius: 4px!important;
                    border-top-right-radius: 4px!important;
                }
                .product-text {
                    padding: 15px 5px 0px!important;
                    border-top: 0;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    .product-name {
                        margin-top: 0!important;
                    }
                }
            }
        }
    }
    
}