.list-benefit-shop {
  background: #FFFFFF;
  padding: 20px 0 10px 0;
  box-shadow: 0 2px 4px rgba(155, 155, 155, 0.15);
  border-radius: 3px;
  li {
    padding-top: 2px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 50px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    i {
      position: absolute;
      top: 0;
      left: 15px;
    }
  }
}