.stats-card {
  .card-body {
    padding: 15px;
    h2, h6 {
      display: block;
    }
  }
  h2 {
    font-size: 1.625rem;
  }
  .card-icon {
    margin-right: 10px;
  }
  .card-icon-bg {
    width: 60px;
    height: 60px;
    background: #09B1BA;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 1.25rem;
  }
  &.green {
    .card-icon-bg {
      background: #02c58d;
    }
  }
  &.orange {
    .card-icon-bg {
      background: #fcbe2d;
    }
  }
  &.red {
    .card-icon-bg {
      background: #fc5454;
    }
  }
}
