.address-card-checkout {
  height: 140px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 22px;
  background: #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  position: relative;

  &.empty {
    box-shadow: none !important;
    margin-bottom: 0;
    height: auto;
  }

  .address-type {
    color: #9b9b9b;
    margin-bottom: 5px;
  }

  .name-phone {
    color: #222222;
    font-weight: 500;

    .name {
      text-transform: capitalize;
    }
  }

  .choose-address {
    position: relative;
    margin: 10px 0;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: 2;
      width: 18px;
      height: 18px;
      cursor: pointer;

      &.selected {
        + label {
          color: #09B1BA;
        }

        + label:before {
          background: #09B1BA;
          border-color: #09B1BA;
        }

        + label:after {
          content: '';
          position: absolute;
          left: 4px;
          top: 8px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
          transform: rotate(45deg);
        }
      }

    }

    label {
      padding-left: 30px;
    }

    label:before {
      content: '';
      position: absolute;
      cursor: pointer;
      margin-left: -30px;
      display: inline-block;
      vertical-align: text-top;
      width: 18px;
      height: 18px;
      background: #FFFFFF;
      border: 1px solid #ECEBED;
      box-sizing: border-box;
      box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
      border-radius: 6px;
    }
  }

  .action {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #09B1BA;
  }
}
