.slider {
  .slick-dots {
    bottom: 0.625rem;
  }
  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots li button:before {
    color: #fff;
    opacity: 0.5;
  }
  .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
  }
  .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.75;
  }
  .slick-list {
    font-size: 0;
  }
  .item {
    img {
      display: block;
      width: 100%;
    }
  }
  .slick-prev, .slick-next {
    z-index: 2;
    height: 100%;
    width: 40px;
    text-align: center;
    opacity: 0.3;
    &:before {
      margin-left: 10px;
    }
    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .slick-next {
    right: 0;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>");
    }
  }
  .slick-prev {
    left: 0;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>");
    }
  }
}
