@import "../../../assets/css/_media";
@import "../../../assets/css/_vars";

.footer-page {
  background-color: #fff;
  border-top: 1px solid $theme-primary-color;

  h3 {
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #09B1BA;
  }

  .footer-link {
    a {
      display: block;
      padding: 2px 0;
      font-size: 12px;
      color: #9B9B9B;
      line-height: 30px;
      &:hover, &:focus {
        color: #09B1BA;
        font-weight: 500;
      }
    }
  }
}

.footer-top {
  color: #000;
  padding: 40px 0;
  font-size: 14px;
  > .container {
    padding-left: 5px;
    padding-right: 5px;
    > .row {
      margin-right: -5px;
      margin-left: -5px;
      > [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .address {
    margin: 18px 0 26px 0;
  }
}

.social {
  padding: 3px 0 10px 6px;
  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #09B1BA;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 30px;
    &:hover, &:focus {
      background-color: #09B1BA;
    }
    .fa:before {
      line-height: 1;
      font-size: 16px;
    }
    + a {
      margin-left: 12px;
    }
  }
}

.download-app {
  padding: 5px 0 0 8px;
  a + a {
    margin-left: 8px;
  }
}

.footer-mid {
  padding: 30px 0;
  font-size: 12px;
  line-height: 18px;
  color: #9B9B9B;
  background-color: #FBFBFB;
  h3 {
    color: #09B1BA;
    text-transform: uppercase;
  }
  .footer-mid-content {
    display: flex;
    justify-content: space-between;
  }
  .dkbct {
    img {
      height: 50px;
    }
  }
}

.footer-bottom {
  background-color: #202020;
  font-size: 12px;
  padding: 10px 0;
  color: #EFEFEF;
}

.download-app {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  &:hover, &:focus {
    color: #fff;
  }
  label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .btn {
    display: block;
    width: 100%;
  }
}
