.newsletter-box {
  padding-top: 16px;
  input {
    background: #FFFFFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: none !important;
    height: 50px;
    line-height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .btn {
    width: 100%;
  }
}
