.div-loading-wrapper {
  width: 100%;
}

.div-loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #eaeaea;
  background: linear-gradient(to right, #eaeaea 8%, #f0f0f0 38%, #eaeaea 54%);
  background-size: 1200px 1000px;
  position: relative;
  border: 1px solid #eaeaea;
  display: inline-block;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -550px 0
  }
  100% {
    background-position: 550px 0
  }
}