.error-page {
  .error-container {
    padding: 130px 0;
    text-align: center;
    background: #ffffff;
  }
  .error-col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
  .error-img {
    img {
      display: block;
      width: 234px;
      height: 191px;
    }
  }
  .error-text {
    padding-left: 3rem;
    color: #333;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    h1 {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.5rem;
    }
    p {
      line-height: 2;
    }
  }
  .error-buttons {
    .btn {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      .fas, .far {
        margin-right: 4px;
      }
    }
  }
}

.is-mobile {
  .error-page {
    background: #ffffff;
    .error-container {
      padding: 30px 5px 50px;
      background: none;
    }
    .error-img {
      width: 220px;
      padding-bottom: 1.5rem;
      text-align: center;
      img {
        display: inline;
        width: 100%;
        height: auto;
      }
    }

    .error-text {
      padding-left: 0;
      h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
      }
      p {
        line-height: 1.8;
      }
    }
    .error-buttons {
      text-align: center;
    }
  }
}